[2015-09-26 20:58] yatzek opened #4 "Allow memory reservation - by default or parameterized"
In src/vsphere_cpi/lib/cloud/vsphere/vm_creator.rb line 46 would look something this:

config_hash = {memory_mb: @memory, num_cpus: @cpu, memory_allocation: VimSdk::Vim::ResourceAllocationInfo.new(reservation: @memory)}

for forced reservation.

We were short of disk space in our cluster and forcing memory reservation helped us by loosing swap files.

[2015-10-01 22:30] cppforlife commented on #4
I'm not sure if we would want to make that a default since it would reserve that memory and will not be able to overcommit afaik. May be a configuration? Are you using this configuration for all VMs you deploy or only for specific ones?

[2015-12-08 23:48] ryantang commented on #4
I think this would be a good optional configuration (not the default).  I encourage a a pull request implementing this as an additional configuration under `resource_pools` `cloud_properties` for a `create_vm` call or under `properties` `vsphere` on the vSphere CPI's global config .  I'm closing this issue for now.  Feel free to reopen if needed.

[2015-12-08 23:48] #4 closed

[2016-01-11 17:48] kitsirota opened #5 "Bosh-init deployment to vsphere environment fails due to encoding issues"
We've been trying to deploy bosh into our vSphere environment for a few weeks without much success.     HUGE THANK YOU goes out to @mjavault for tracking down and documenting this bug.  All of the credit for the content below goes to @mjavault.

When we try to run `bosh-init deploy manifest.yml` against our vSphere deployment, we get the following error:
[code]

The deploy process is downloading a

[2016-01-13 01:23] filefrog commented on #5
The patch is actually against the cloudfoundry/bosh repository.

[2016-01-20 16:13] dpb587-pivotal commented on #5
@calebamiles, can this be closed since https://github.com/cloudfoundry/bosh/pull/1096#issuecomment-173014346 has now been merged?

[2016-01-20 16:49] jhunt commented on #5
We are literally in the middle of testing the patched version of BOSH.  I'll have @kitsirota close this out if that goes well!

[2016-01-20 18:17] jhunt commented on #5
It's now failing here:

[code]

Do we just need to bump the vsphere-cpi release to v15 to pick up a new copy of the bosh_cpi gem?  I think we want at least 1.3181.0 to pick up commit a2affe (https://github.com/cloudfoundry/bosh/commit/a2affede542519a84a8faab55e42b1f85d593e15)

[2016-01-26 16:14] jhunt commented on #5
I went ahead and built a dev version of the vsphere-cpi release, and was able to successfully use that to deploy BOSH via `bosh-init`.

Can we get a version bump to v15?

[2016-01-27 16:18] jhunt commented on #5
Testing went well yesterday.  I was able to deploy off of upstream bosh v250 and vsphere-cpi v15, without any local hacks or workarounds.  I think we can go ahead and close this ticket.

[2016-02-03 01:32] cppforlife commented on #5
@jhunt great. thx.

[2016-02-03 01:32] #5 closed

[2016-04-19 16:54] ljfranklin opened #7 "Slack integration test issue"
Testing

[2016-04-19 16:54] ljfranklin commented on #7
It works!

[2016-04-19 16:54] #7 closed

[2016-10-20 16:18] ljfranklin opened #11 "Could not find 'VimSdk::Vim::ResourcePool"
take from https://github.com/cloudfoundry/cf-mysql-release/issues/134

Could anyone help me on this please?

[code]

[2016-10-20 16:21] ljfranklin commented on #11
@cpraveen412 we'll see if we can reproduce this. In the meantime, can you tell us which version of the vSphere CPI you are using? It should be listed in your BOSH Director manifest.

[2016-10-20 16:47] ljfranklin commented on #11
@cpraveen412: We suspect that the vSphere Resource Pool `CF-Datastore2` is not accessible from within the vSphere Cluster `CF-Cluster` or does not exist — perhaps `CF-Datastore2` refers to a datastore and not a Resource Pool?

We opened a bug to make the error message more readable, e.g. "Resource Pool XXXXX is not accessible from Cluster YYYYY or does not exist." https://www.pivotaltracker.com/st

[2016-10-20 17:44] cpraveen412 commented on #11
hi @ljfranklin
I'm using Version 29

[2016-10-20 18:32] cpraveen412 commented on #11
Hi @ljfranklin
Thank you for mentioning "Resource Pool". I went back to my environment and created a resource pool. Now it started deploying.

[2016-10-27 22:12] ljfranklin opened #12 "Assets for NSX blog post"
<img width="743" alt="load_balancer_enabled_final" src="https://cloud.githubusercontent.com/assets/1923644/19787469/c8cbaf3a-9c57-11e6-9da4-5b06016dfa3f.png">

[2016-10-27 22:22] ljfranklin commented on #12
<img width="597" alt="nsx-application-profile" src="https://cloud.githubusercontent.com/assets/1923644/19787709/18ca64b2-9c59-11e6-9cb9-c2c3660eae9c.png">

[2016-10-27 22:22] #12 closed

[2016-10-27 22:44] ljfranklin commented on #12
<img width="554" alt="nsx_pool" src="https://cloud.githubusercontent.com/assets/1923644/19788122/7da964c6-9c5b-11e6-8fd8-cd14d63a9876.png">

<img width="609" alt="nsx_virtual_server_final" src="https://cloud.githubusercontent.com/assets/1923644/19788285/3efaa0b8-9c5c-11e6-95c9-94a9b9f6ce6c.png">

[2016-10-31 23:57] cunnie commented on #12
<img width="647" alt="add_deny-ssh" src="https://cloud.githubusercontent.com/assets/1020675/19875589/1143050c-9f8b-11e6-8955-9ecbe39112c3.png">

[2016-11-01 15:26] cunnie commented on #12
<img width="647" alt="add_deny-ssh" src="https://cloud.githubusercontent.com/assets/1020675/19894256/8ae8be82-a009-11e6-9b2b-6a66f45f5839.png">

<img width="581" alt="add_deny_ssh" src="https://cloud.githubusercontent.com/assets/1020675/19895148/db0e53ba-a00c-11e6-80c4-71dde83caeb2.png">

[2016-11-01 22:56] ljfranklin opened #13 "NSX integration returns error "The object vm-86479 is already present in the system.""
## Steps to Reproduce

- Deploy a director (v258+) with NSX credentials correctly configured in global properties.
- Create a deployment where the deployment name and the instance_group name are the same.
- Verify that deploy fails with:

[code]

## Expected Result

The CPI realizes that the VM is already in that group and continues without error.

[2016-11-04 17:59] cppforlife commented on #13
Fixed in v32.

[2016-11-04 17:59] #13 closed

[2016-12-01 18:21] forddonald opened #15 "Missing creds from vSphere admin account"
I just tested the permissions roster listed in the docs file perm-by-perm for making an administrative user in vCenter and found there are eight missing permissions required when building PCF v1.8 with vSphere 6.0.

Those are:

Virtual Machine: Inventory: Register
Virtual Machine: Inventory: Unregister
Virtual Machine: Interact: Console Interaction
Virtual Machine: Interact: Guest Control with VIX

[2016-12-01 18:22] forddonald commented on #15
![pcf admin role virtual machine inventory and provisioning](https://cloud.githubusercontent.com/assets/8728723/20806497/c3a7d46e-b7c0-11e6-80a5-7f80ec86e9f4.png)

[2016-12-01 19:13] ljfranklin commented on #15
@forddonald Thanks, this is good stuff. Did you see errors from the CPI during a BOSH deployment (debug output) or was the error from the OpsMgr UI (pop-up dialogue)? That will guide us whether we need to update our (CPI's) docs or work with the commercial team to update the commercial docs. That doc is the set of required permissions for a pure BOSH deployment while some additional permissions ma

[2016-12-02 15:22] forddonald commented on #15
The error reported during the Ops Mgr Apply Changes validation stage. Here's a screenshot of what I saw.
![pcf vsphere missing creds](https://cloud.githubusercontent.com/assets/8728723/20839087/d3698f5e-b870-11e6-93cd-8ef4fad5fb89.png)

[2016-12-02 16:35] ljfranklin commented on #15
@forddonald OpsMgr tries to perform some validation to fail quickly, but in this case I think it's checking for permissions that aren't actually required. Could you add a +1 on this story for OpsMgr: https://www.pivotaltracker.com/story/show/129641855? I'm going to close this out as it's an issue with a commercial offering rather than this open source project, but ping me on that Tracker story if

[2016-12-02 16:35] #15 closed

[2016-12-19 23:13] allomov opened #16 "Disk Snapshot Implementation"
Hey, all.

Originally, with BOSH you can snapshot jobs disk with the following command: `bosh [OPTIONS] take-snapshot [INSTANCE-GROUP/INSTANCE-ID]`.

In order to have such functionality, the CPI should implement [snapshot_disk](https://github.com/cloudfoundry/bosh/blob/master/src/bosh_cpi/lib/cloud.rb#L182-L188) method.

I am wondering if there a specific concerns behind the fact the vSphere CPI d

[2016-12-20 21:42] ljfranklin commented on #16
Hey @allomov! I'm not super familiar with vSphere snapshots so please correct me if something looks off. My understanding was that a vSphere "snapshot" is used to store the state of a VM (e.g. memory contents) to allow you to reset the entire machine to a previous state. The BOSH concept of a snapshot is about storing a "backup" of a single disk. The vSphere snapshots deal with persistent data in

[2016-12-20 22:28] allomov commented on #16
Actually I only have a request to create snapshots for VMs created by BOSH. I'll discuss this issue with vShpere operators and will return to it later. Thank you for the answer.

[2016-12-21 01:13] youngm opened #17 "Support configuring vsphere memory ballooning settings"
We recently ran into an issue where our bosh deployed VMs were having their memory ballooned away causing issues for our deployment.

It would be nice if it were possible to configure on a per vm_type basis the `sched.mem.maxmemctl` parameter.  This would allow us to ensure bosh deployed vms that are sensitive to memory ballooning don't have only an appropriate amount of memory ballooned away from

[2016-12-21 03:21] cppforlife commented on #17
makes sense. any other related config that might be useful while we are there?

Sent from my iPhone

[2016-12-21 03:54] youngm commented on #17
@cppforlife I did some googling and it appears these parameters are mostly undocumented voodoo[1].

Here is a site with a number of the parameters available [2].

It appears that, for the most part, these parameters are one off key value config that vmware exposes whenever they need a workaround for something.  What would you think of the cpi exposing a way to set these parameters generically.  Th

[2017-01-31 22:45] youngm commented on #17
BTW to help save some leg work it appears this is the API used to set these vmx parameters: https://www.vmware.com/support/developer/vc-sdk/visdk25pubs/ReferenceGuide/vim.vm.ConfigSpec.html#extraConfig

[2017-01-31 23:44] youngm opened #18 "Fix for [ warning] [guestinfo] Failed to get vmstats log spam"
I don't know if this is something specific to my vsphere environment or not, but, in the `/var/vcap/messages` of my vms I get a constant stream of:

[code]

I decided to do some digging to see if if this was a problem or fixable.  I was able to determine that it is fixable by setting the vmx parameter: `isolation.tools.setinfo.disable = "false"`.

Whether that parameter should be set or what it do

[2017-02-01 23:16] cppforlife commented on #18
@youngm sounds like in this case we would prolly want to just disable altogether at the cpi level. im not aware of anyone using this functionality.

[2017-02-01 23:20] youngm commented on #18
@cppforlife to be clear it appears the `setinfo` feature is already disabled (for me atleast) Adding this vmx parameter `disable = false` will enable `setinfo` eliminate the warning and allow the vmware tools to do whatever it is it is doing.

[2017-02-06 10:22] danting1 opened #19 "Need to handle opaque network backing for virtual nic"
As VMware vSphere 6.5 supports opaque network, please help add vitrual nic backing for opaque network attachment when creating virtual nic.

https://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.vspsdk.apiref.doc/vim.vm.device.VirtualDevice.BackingInfo.html
https://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.vspsdk.apiref.doc/vim.vm.device.VirtualEthernetCard.OpaqueNetworkBackingInfo.html

[2017-02-08 08:17] cppforlife commented on #19
Salvatore (VMware) recently mentioned that there is an incoming PR for this feature.

[2017-02-09 21:27] Amit-PivotalLabs opened #21 "Host anti-affinity for instances in the same instance group and AZ (cluster/resource pool)"
I understand that if I have an `instance_group` with several `azs`, BOSH will try to balance instances across AZs to provide AZ-level anti-affinity.  For the VMs that will be scheduled within the same AZ (which, on vSphere, corresponds to a cluster and optional resource pool), are there any guarantees around host-level anti-affinity?  Or, is there some option that could be passed to the CPI to req

[2017-03-07 04:54] ronakbanka opened #22 "CPI 'create_vm' method responded with error: CmdError{"type":"Unknown","message":"Invalid configuration for device '11'"
Recently we've been experiencing this issue with both bosh-init & bosh deploy with vsphere cpi where vm creating is failing during clone phase of cpi call.

Tried with multiple cpi versions , below debug logs are from `cpi v38`

`For bosh-init`
When deploying for the first time there are no issues, but when deploying again with some change in deployment manifest , bosh-init fails with device error

[2017-03-08 03:44] ronakbanka commented on #22
@cdutra can you take a look at this?

[2017-03-15 00:32] cppforlife commented on #22
@ronakbanka did you figure out if something is killing disks from iaas side?

[2017-03-15 00:33] cppforlife commented on #21
seems like as we confirmed there is no way to do so from vsphere perspective without setting a "hard" hint. closing.

[2017-03-15 00:33] #21 closed

[2017-03-23 06:36] ronakbanka commented on #22
@cppforlife didn't find any such thing which is killing disks , but this started happening after our IaaS upgraded from 5.5 to 6.

[2017-03-27 20:54] cppforlife commented on #22
@ronakbanka how frequently does this happen? almost immediately and consistently? we run lifecycle tests against vsphere 6.0 env which seems to spin up multiple vms per stemcells.

[2017-03-27 20:57] cppforlife commented on #19
Story started: https://www.pivotaltracker.com/story/show/131478755

[2017-03-27 21:06] zaksoup commented on #22
Lifecycle specs run the following tags: https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/e51dcb3d77f28397a7529991228e166acab650e5/ci/pipeline.yml#L64

In the Spec Helper for integration tests we upload a stemcell once: https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/e51dcb3d77f28397a7529991228e166acab650e5/src/vsphere_cpi/spec/integration/spec_helper.

[2017-04-05 04:22] CAFxX commented on #22
@cppforlife this happens very frequently in our setup. Do you guys test against multiple clusters?

[2017-04-05 04:51] ronakbanka commented on #22
@zaksoup Issue is not during create_vm stage but when a vm is being deleted , vsphere is deleting the .vmdk from base stemcell datastore dir , so next time during create_vm stage it fails as no base virtual disk.

We are experiencing this in vsphere 6 env but not in vsphere 5.5 .

[2017-04-05 18:13] cppforlife commented on #22
@ronakbanka @CAFxX just created a story to try this manually: https://www.pivotaltracker.com/story/show/143189927.

[2017-04-05 22:29] CAFxX commented on #22
@cppforlife maybe underline in the story that this happens with create-**delete**-create cycle (see screenshots and repro instructions in https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/issues/22#issue-212330458)

[2017-04-06 21:08] zaksoup commented on #22
Hey @ronakbanka @CAFxX @liuweichu, I am working with @cunnie to reproduce your issue but we're having trouble. Can you please provide us with a copy of your (redacted) manifest and cloud-config?

Here's what we've done so far:

1. Deploy a bosh director using the latest `bosh2` CLI to a vSphere 6.0 with [this manifest](https://gist.github.com/zaksoup/b641c4fb581ef5dfd5ba0a48d482ae0c) (generated vi

[2017-04-10 09:55] ronakbanka commented on #22
@zaksoup @cunnie I am using bosh create-env with init configuration , issue is still there ,but i noticed one spec difference when asked out IaaS guys to give hostd logs from 2 vsphere env.

There is a difference in `deviceChange.backing.parent` , in vsphere 5.5 it is null where as in in vsphere 6 it points to stemcell vmdk , and the vmdk delete is occurring in vsphere 6 where this property is set

[2017-04-10 18:07] cunnie commented on #22
@ronakbanka Thank you for the hostd output.

Could you please provide the bash steps you ran and a redacted manifest, state.json file, and cloud-config? Are you doing a `bosh create-env` followed by a `bosh delete-env` and the problem appears when you run `bosh create-env` again? Or do you deploy a director with `bosh create-env` and then do a `bosh deploy` followed by a `bosh delete-deployment` a

[2017-04-13 20:00] cunnie opened #24 "Screenshots for NSX blog post"
<img width="222" alt="nsx_network" src="https://cloud.githubusercontent.com/assets/1020675/25021562/7aa472be-2047-11e7-989a-d12e624c19f2.png">

[2017-04-14 16:50] zaksoup commented on #22
@ronakbanka Hey, we're still very interested in understanding what's causing your problem! Can you please provide the bash steps you ran and a redacted manifest, state.json file, and cloud-config?

Thanks!
@cunnie and @zaksoup

[2017-04-15 02:08] cppforlife commented on #19
Available in v40.

[2017-04-15 02:08] #19 closed

[2017-04-16 15:46] drnic opened #25 "Promote out of incubator"
@chipchilders @cppforlife AWS CPI is the oldest CPI. Can this repo be promoted to @cloudfoundry org?

[2017-04-17 17:59] #24 closed

[2017-04-24 16:02] esarakaitis opened #26 "line 38: #<RuntimeError: cluters property must be an array"
Assuming you meant clusters?

[2017-04-24 16:30] ronakbanka commented on #22
@zaksoup @cunnie We just moved to a new cluster with same version 6 and now we are not experiencing this strange issue . There was some db issues on our previous cluster , was not able to find if it was related to stemcell issue in a way.

can close this now and will see it it happens again.

[2017-04-24 16:31] ronakbanka commented on #26
@esarakaitis Thanks for pointing that out. yup that should be clusters.

[2017-04-25 16:18] cunnie commented on #22
@ronakbanka sounds good. please re-open this issue if you can reproduce it!

@zaksoup && @cunnie

[2017-04-25 16:18] #22 closed

[2017-04-29 16:31] #26 closed

[2017-05-26 07:35] sambryant4 opened #28 "Deploying multiple CFs to one NSX breaks security groups"
Currently security groups are automatically created for all instance groups in a deployment when NSX is enabled. In fact you actually get one security group namespaced to the deployment and one namespaced just to the instance group. As such two deployments can very easily step on each other.

As a minimum a security_group prefix could be defined to ensure jobs get namespaced appropriately.

[2017-06-01 12:02] jriguera opened #29 "CPI does not pay attention to ESXI servers disconnected or in maintenance mode"
We are running CPI version 38 (but I think this issue affects all versions) with Bosh director v261.4 running against Vsphere Vcenter 5.5 using Vsphere ESXI 5.5 on the hypervisor hosts. The Vcenter has different clusters, but we are defining only 3 in the CPI configuration in order to deploy vms to them (in order to have 3 AZs, a cluster maps to an AZ). These clusters have Vsphere HA and DRS  both

[2017-06-09 11:28] MatthiasWinzeler opened #30 "CPI tries to connect to ESX hosts - is there any other way?"
We're trying to deploy a bosh director to our VSphere/ESX cluster; however, it fails when uploading the stemcell since it tries to connect to ESX hosts:

[code]

Error:
[code]

The [docs](https://bosh.io/docs/vsphere-cpi.html#notes) mention this:

We were expecting that the CPI only needs to communicate to the VSphere API to fulfill its task. In our case, communication to the ESX hosts is not poss

[2017-06-15 13:42] MatthiasWinzeler commented on #30
We discussed this with various VMWare experts who confirmed it: Clients that use to the VCenter API do need access to the ESX hosts, too, in order to use all functions - this is by design.

We could solve our problem by configuring the CPI to use a HTTP proxy that has connectivity (and DNS resolution) to VCenter and all ESX hosts; I guess this could help in other enterprise setups, too.

[2017-06-15 13:42] #30 closed

[2017-06-21 13:29] youngm commented on #17
@amhuber I don't have a strong preference.  That probably sound like the better place to set it.  It would be nice to be able to set parameters for situations like https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/issues/18 also.  But, that property sounds better and more explicit for this case.  Thanks.

[2017-06-21 15:12] amhuber commented on #17
It looks like the VMX option for the other setting is:

sched.mem.pin = "TRUE"

That being the case, I agree that just being able to specify arbitrary VMX parameters would be the best option as then we can choose what we want.

Any timeline for adding this?

[2017-06-28 21:18] cppforlife commented on #17
@youngm @amhuber we are right now changing some of the vsphere cpi internals, so we can try throwing this in as well: https://www.pivotaltracker.com/story/show/148036961

[2017-07-03 02:30] cppforlife commented on #29
@jriguera to confirm, cpi ends up selecting local datastore connected to a host that's in the maintenance mode, which leads vm scheduled on that host, and hence a failure? we can definitely look into possibility of filtering out such datastores.

[2017-07-03 02:31] cppforlife commented on #28
closing this issue, but keeping pr for discussion (since there are more comments there).

[2017-07-03 02:31] #28 closed

[2017-07-06 23:46] cdutra commented on #17
The list of available vmx options: https://docs.vmware.com/en/VMware-vSphere/6.0/com.vmware.vsphere.resmgmt.doc/GUID-F8C7EF4D-D023-4F54-A2AB-8CF840C10939.html

[2017-07-08 06:44] cppforlife commented on #17
Support added in v42: https://github.com/cloudfoundry/docs-bosh/commit/648c969b92da38ecaa3925369271e923a5015b97

[2017-07-08 06:44] #17 closed

[2017-07-08 06:56] cppforlife commented on #18
@youngm might be covered through v42.

[2017-07-08 15:07] youngm commented on #18
@cppforlife This is great!  I'll reopen if it doesn't fix it.

[2017-07-08 15:07] #18 closed

[2017-07-11 23:35] cppforlife commented on #16
@allomov feel free to reopen if necessary.

[2017-07-11 23:35] #16 closed

[2017-07-12 12:27] jriguera commented on #29
@cppforlife Yep, that is exactly the use case, we use a pattern to select the datastores where we want to have the vms running. I would love if the cpi has the functionality to skip a server if it is in maintenance mode, when a vm needs to be deployed. About the logic to implement when a vm is already deployed (in order to delete the ephemeral disks), I am not sure, but I think the proper way is j

[2017-07-13 13:34] jriguera commented on #29
From my understanding, one possible implementation would be add a filter to this function https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/7fb6677a6a8dd9d4221dd57c171c9b0932d152fb/src/vsphere_cpi/lib/cloud/vsphere/vm_creator.rb#L23 ; a filter like https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/5ea37ac72ee6da4b2e260af8590cd78326e02374/src/vsphere_cpi/

[2017-07-24 18:23] cwb124 commented on #30
I am running into a slightly related issue here.  I have 4 ESX hosts in my test environment where I'm deploying open source CF.  I have connectivity to 443 on these hosts, but they have untrusted default certs and I think that's hanging up my stemcell upload.

Error:   L Error: Unknown CPI error 'Unknown' with message 'getaddrinfo: Name or service not known (esxtest-1p.sys.company.net:443)' in 'cr

[2017-07-25 07:04] MatthiasWinzeler commented on #30
@cwb124 That sounds more like a DNS issue to me. Are you able to resolve the hostname from your bosh/bosh-init, i.e. using `dig` or `nslookup`?

The CPI anyway seems to skip ssl verification for backwards compat: https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/v42/src/vsphere_cpi/lib/cloud/vsphere/cpi_http_client.rb#L10

[2017-07-25 18:32] cwb124 commented on #30
Yeah it was indeed a DNS issue.  I skimmed the bosh.yml when I should have focused more on it.  The public DNS server in the bosh.yml was the culprit. I'm going to create a PR for some of the documentation for Vsphere to check and edit the bosh.yml with internal DNS server.

[2017-08-15 16:01] MatthiasWinzeler opened #34 "Required privileges on datacenter level for multi-tenancy within a VCenter"
Hi guys

We try to set up multiple CloudFoundries in a single VCenter. To achieve the best isolation possible, we would like to have a separate VCenter user for each CloudFoundry, and each user should be granted only the least privileges possible. The goal would be that user for CloudFoundry A can not access stuff from CloudFoundry B.

To separate the different CloudFoundries, we created a *folder

[2017-09-01 22:48] cppforlife commented on #34
@MatthiasWinzeler i suspect that vsphere doesnt have more fine grained controls around these resources. will try to reach to someone from vmware to find out more.

[2017-09-15 22:21] youngm opened #35 "Cluster selection including non specified datastores in calculation instead of only specified ones"
We have a problem in our environment where VMs appear to be getting placed in clusters we wouldn't expect.

## Our scenario
* We have 2 clusters.
* We have configured bosh to use a single datastore that is shared between the 2 clusters.
## Behavior
* Our VMs are repeatedly picking a single cluster causing that cluster to run hot on memory.
## Expected Behaviour
* Since we use the same datastore fo

[2017-09-18 17:31] cdutra commented on #35
Hi @youngm,

"It appears that the balance_score is including in its calculation all of the accessible datastores on the cluster and not just the datastore(s) that we have selected via datastore_pattern."

Yes, the datastore picker will look in all accessible datastores. However during the VM creation the disk configuration will have the [`ephemeral_datastore_pattern`](https://github.com/cloudfound

[2017-09-18 17:55] youngm commented on #35
@cdutra Hmm.....however, it appears that the code here: https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/7fb6677a6a8dd9d4221dd57c171c9b0932d152fb/src/vsphere_cpi/lib/cloud/vsphere/cluster_picker.rb#L71

Simply picks the datastore with the best score.  And it appears that the score is calculated without regard to the `target_datastore_pattern`, right?

[2017-09-18 18:05] cdutra commented on #35
@youngm The score is calculated [here](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/master/src/vsphere_cpi/lib/cloud/vsphere/datastore_picker.rb#L21) and the placement [here](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/9e611e35c08e8bdcb0a8d404e20f81e4af179627/src/vsphere_cpi/lib/cloud/vsphere/datastore_picker.rb#L43-L57) and on line [49[(https

[2017-09-18 18:06] youngm commented on #35
Thanks @cdutra I'll do some more digging about what is going on and get back with you.

[2017-09-18 18:07] cdutra commented on #35
@youngm Thank you! Please, let me know if I can help with anything.

[2017-09-18 20:08] youngm commented on #35
@cdutra Here is a test that I believe is illustrating what I'm seeing.  Hopefully it helps you better see what I am attempting to explain because I'm having trouble catching what you are attempting to explain. :)

This test fails with the current code.  I would expect it to pass in order for the cluster picker to move on to checking memory.

[code]

[2017-09-18 20:55] cdutra commented on #35
@youngm The datastore picker uses a scoring algorithm which weights its results based on its possible placements therefore the balance score depends on the set of results and not in a particular result itself. In this case when `add_balance_score` is called is called with different inputs (`cluster2_ds` which has more free space) causing the balancing score to be higher.
This makes sense because t

[2017-09-18 21:00] cdutra commented on #35
@youngm I believe the case here would be why the free space has higher precedence and excludes possible clusters with similar score but potentially more free memory.
Maybe the best solution would be to have a scoring system that would weight the different criteria (migration, space and memory)?

[2017-09-18 21:04] youngm commented on #35
@cdutra Possibly.  For our purposes we are only using the one "targeted" datastore in both clusters.  I don't think we care about the other datastores on the clusters.  There for we assumed that the vsphere cpi wouldn't care about other datastores either all fall through to memory being the deciding factor.

Perhaps you tried to explain this already but can you help me understand why the cpi would

[2017-09-18 21:11] youngm commented on #35
keep in mind in our environment our CF deployment is only a small tenant of our entire vsphere infrastructure.

[2017-09-18 21:14] youngm commented on #35
Perhaps there is a way to only give my CF vsphere user access to its datastore so there are less available datastores?  Maybe that is the correct way for us to tackle this problem.

[2017-09-18 21:14] cdutra commented on #35
@youngm The decision of the semantics of `datastore_pattern` was made prior I joined the BOSH CPI team. If I had to guess I believe it was to be more like a soft rule.

[2017-09-18 21:16] youngm commented on #35
@cdutra So, the question would it be appropriate to fix this by limiting the score to only targeted datastores?

[2017-09-18 21:17] cdutra commented on #35
Possibly

[2017-09-18 21:20] youngm commented on #35
I'm going to talk to our vsphere guys see if I can limit what datastores our vsphere user can see and see if that is a possible work around.  I'll report back.

[2017-09-18 21:47] youngm commented on #35
I talked to our vsphere guys and it sounds like it wouldn't be trivial to limit our datastore access permissions. So, I think we'd still be looking at a change in the CPI to fix this for us.  Let me know what you dig up regarding the `datastore_pattern` in the score.  If the fix for this is to simply limit the score to datastores in the `datastore_pattern` I may be able to put together a PR for th

[2017-09-18 22:37] cdutra commented on #35
@cppforlife do you have more context in why the `datastore_pattern` isn't a hard rule when deciding what datastores to pick?

[2017-09-19 00:22] cdutra commented on #35
@youngm We added a story in our backlog to fix this: https://www.pivotaltracker.com/story/show/151198560

[2017-09-20 15:17] youngm commented on #35
@cdutra I noticed this issue was moved to the icebox telling me you may not find time to work on this for a while.

I can create a PR for this.  As a PR I would probably focus on simply fixing the unit test I provided above.  Does that sound like an appropriate fix?

[2017-09-21 22:12] cdutra commented on #35
@youngm I'm sorry for the late response. PRs are welcome! We added a story for us to do it because we wanted to do a refactoring on that code.
The PR would really help, though and we appreciate it. Let us know if we can help with anything. You can ping us on slack for questions.

cc @nehagjain15

[2017-09-21 23:34] youngm commented on #35
@cdutra Here is a PR a threw together real quick.  If you think the datastore refactor takes some time prioritize merging and releasing this in a reasonable time frame would help my team out.  Thanks.

https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/pull/36

[2017-09-21 23:44] cdutra commented on #35
We added in the story. Will chat with @cppforlife to prioritize that. Thanks!

[2017-09-27 18:27] rchampati opened #37 "Scenarios for Permission “tightening”"
There are scenarios in which users would like to limit the out of the box permissions as outlined above in vSphere to tighten down the control that the vSphere user supplied to Pivotal Cloud Foundry/Bosh to the bare minimum of scope and capability, particularly in vSphere environments that may be “shared” cluster infrastructure, and not dedicated to PCF alone. That said, the following example is a

[2017-09-28 23:18] amhuber opened #38 "Moving persistent disk on VM delete breaks if datastore has a space in the name"
Before a VM with a persistent disk is deleted, the CPI checks the vAppConfig property to determine the original path of the persistent VMDK and will move it back in cases where the VM has been migrated to a new datastore and the disk has been moved into the VM folder.  We've been trying to troubleshoot why the move function fails in some cases with this error:

    CPI 'delete_vm' method responded

[2017-09-28 23:50] cdutra commented on #38
@amhuber Thanks for filling this issue. Indeed a regular expressions would be better. I added a story for that: https://www.pivotaltracker.com/story/show/151539797

[2017-09-29 14:45] ktchen14 commented on #34
Previous link is broken. This is the correct link to the [documentation](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/master/docs/required_vcenter_privileges.md).

[2017-10-14 00:24] ktchen14 commented on #38
This should be fixed by [d17f5c46cfa56655826422c217e9e038a0c053da](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/commit/d17f5c46cfa56655826422c217e9e038a0c053da).

[2017-10-14 00:32] amhuber commented on #38
Awesome, thank you.  Looks like that will fix our issue.

[2017-10-24 19:18] crdant commented on #11
I came across this when seeing the same error deploying a director. It's not the same case, but I do know that my resource pool exists and the user I'm deploying as can access it and create machines in it. I'm trying to figure out if this is issue is still open or not since it was tagged "open-for-contibution" and "planned-enhancement" after @cpraveen412 suggested it was resolved.

Is there still

[2017-10-24 21:10] cdutra commented on #11
Hi @crdant, what version of the vSphere CPI are you using? Could you paste a snippet of you manifest where specifies the `resource_pool` property? Thanks

[2017-10-25 03:58] crdant commented on #11
In my case I'm using the [Kubo deployment scripts](https://github.com/cloudfoundry-incubator/kubo-deployment) to deploy a new director. It generates a manifest through a few steps of interpolation. The failure is when creating the stemcell. I can create a VM in the same resource pool as the same user with the `govc` cli.

The relevant snippet (which appears twice):

[code]

The CPI is version 44.

[2017-10-25 04:04] cdutra commented on #11
And you have a resource pool called “/home-lab/host/primary-cluster/Resources/zone-1”?
I’ve never created a resource pool with “/“ before. I wonder if this is a scaping issue.

Chris Dutra

[2017-10-25 05:17] crdant commented on #11
Thanks Chris. That is the fully qualified name in vSphere, but it looks like I can just use `zone-1` and the deployment completes.

[2017-10-25 05:33] cdutra commented on #11
I don’t think we support the fully qualified name.
By just giving the name we are able to find the resource pool because you also specify the datacenter and cluster.

Chris Dutra

[2017-11-17 10:50] nitinpadalia commented on #22
Hi We're experiencing similar problem after we upgraded to vSphere 6.0 from vSphere 5.5, however we're not creating new environment. We're just scaling down some Diego VMs. If we scale up then there is no issue, however when we scale down it throws error:
 Unknown CPI error 'Unknown' with message 'Invalid configuration for device '0'.' in 'delete_vm' CPI method.
Further retries of deploy attempts

[2017-11-23 03:57] abhilash07 opened #43 "This is not issue"
Hi thanks for your opensource, is this cpi supports VMware vSphere 6.5, if not please let me know up to  which version of VMware vSphere it supports thanks in advance.

[2017-11-28 22:54] cdutra commented on #43
@abhilash07 Yes, the latest vSphere CPI supports vSphere 5.5, 6.0 and 6.5.
You can ask questions in the official bosh-cpi channel here: https://cloudfoundry.slack.com/messages/C094QMKB2

[2017-11-28 22:54] #43 closed

[2017-12-07 00:46] youngm commented on #35
It appears my PR has been merged.  Closing this issue.  Thanks!

[2017-12-07 00:46] #35 closed

[2017-12-07 01:15] cdutra commented on #35
@youngm Thanks you so much for the PR!

[2017-12-11 19:12] jaresty opened #44 "Bump ruby version to 2.4-r3"
As part of [a recent bosh story](https://www.pivotaltracker.com/story/show/153035903) we bumped the ruby version for the director, the ruby bosh-package, and the aws CPI to [2.4-r3](https://github.com/bosh-packages/ruby-release/tree/master/packages/ruby-2.4-r3).  This change should also happen to the bosh-vsphere-cpi-release.  The steps are:

1. Check out the [bosh-packages ruby release](https://g

[2017-12-11 19:15] cppforlife commented on #44
also `rm -rf packages/ruby-2.4`

[2017-12-14 16:30] rerooted opened #46 "CPI ignores maintenance mode of datastore"
The datastore accessibility is mentioned in https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/issues/29, but its not quite the same.

We have a range of datastores, at any point in time one or more could be in maintenance mode.  As it stands, the CPI falls over when it tries to create a disk inside a datastore that is in maintenance mode.

Within the ```datastore.rb``` file the ob

[2017-12-19 22:24] michelleheh opened #47 "Intermittent `HTTPClient::KeepAliveDisconnected` errors when creating VMs"
In our CI pipeline, we frequently seen deploys fail with the following error:

[code]

The CPI logs show that it failed in file provider:

[code]

We are following up with our vSphere admins to see if there are any networking issues. But we noticed that the CPI already tries to retry on `HTTPClient::KeepAliveDisconnected` error as shown [here](https://github.com/cloudfoundry-incubator/bosh-vsphere

[2017-12-19 22:30] michelleheh commented on #47
Or maybe instead of retrying, the KeepAlive timeout setting the CPI uses should be adjusted to match the vSphere API server? It's possible the vSphere API server is closing the KeepAlive connection while the CPI http client expected the connection to still be open.

[2017-12-20 17:04] ktchen14 commented on #47
A couple of initial thoughts as we investigate this further: This isn't necessarily actually related to the KeepAlive setting on either the server or the client. The relevant code is (from `parse_header` in `session.rb` in `httpclient`:

[code]

Basically `KeepAliveDisconnected` is raised whenever the server aborts the connection or is unreachable. It seems like the most likely explanation for the

[2017-12-20 17:54] ljfranklin commented on #47
Good catch. We followed up with our vSphere admins and they noticed that all the disconnect errors were coming from a single ESXI host. They put that host in maintenance mode and the next deploy went fine.

Sounds great, thanks!

[2018-01-03 10:29] abhilash07 opened #48 "This is not Issue"
Hi everyone this CPI must and should need NSX, or NSX is optional.

Thanks in Advance

Abhilash

[2018-01-03 18:48] cppforlife commented on #48
nsx is optional. both v and t are supported.

Sent from my iPhone

[2018-01-03 22:10] abhilash07 commented on #48
thanks @cppforlife for your information

[2018-01-03 22:10] #48 closed

[2018-01-05 08:42] abhilash07 opened #49 "Cannot complete login due to an incorrect user name or password"
Hi i am trying to deploy microbosh on vsphere 6.5 but i encountering below error

creating stemcell (bosh-vsphere-esxi-ubuntu-trusty-go_agent 3468.13):
  CPI 'create_stemcell' method responded with error: CmdError{"type":"Unknown","message":"Cannot complete login due to an incorrect user name or password.","ok_to_retry":false

My Bosh Deatils are follows

bosh create-env /home/ubuntu/workspace/bos

[2018-01-05 16:10] ktchen14 commented on #49
You need single quotes around your password to prevent shell interpolation.

________________________________
From: abhilash07 <notifications@github.com>
Sent: Friday, January 5, 2018 12:42:59 AM
To: cloudfoundry-incubator/bosh-vsphere-cpi-release
Cc: Subscribed
Subject: [cloudfoundry-incubator/bosh-vsphere-cpi-release] Cannot complete login due to an incorrect user name or password (#49)

Hi i am

[2018-01-06 10:17] abhilash07 commented on #49
hi @ktchen14 thanks for your response

bosh create-env /home/ubuntu/workspace/bosh-deployment/bosh.yml
--state=state.json
--vars-store=creds.yml
-o /home/ubuntu/workspace/bosh-deployment/vsphere/cpi.yml
-v director_name=bosh
-v internal_cidr=192.168.203.0/24
-v internal_gw=192.168.203.1
-v internal_ip=192.168.203.18
-v network_name="SBP Network"
-v vcenter_dc=cloudservice
-v vcenter_ds=datastore1

[2018-01-08 18:25] nehagjain15 commented on #44
Was fixed and released in [v45.1.0](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/releases/tag/v45.1.0))

[2018-01-08 18:25] #44 closed

[2018-01-08 18:44] yeshwantbabar commented on #49
The command looks fine. Can you check if you can ssh to your vSphere environment using the above credentials? I don't think it's an active directory issue. As long as local login is enabled, which in your case, it seems like it is, as you can login through the UI.

[2018-01-08 20:32] ktchen14 commented on #49
Single quotes (not double quotes) are necessary around the passwords to prevent interpolation of the string as a bash variable.

From: abhilash07 <notifications@github.com>
Reply-To: cloudfoundry-incubator/bosh-vsphere-cpi-release <reply@reply.github.com>
Date: Saturday, January 6, 2018 at 2:18 AM
To: cloudfoundry-incubator/bosh-vsphere-cpi-release <bosh-vsphere-cpi-release@noreply.github.com>
Cc:

[2018-01-09 11:20] abhilash07 commented on #49
Hi @ktchen14  and @yeshwantbabar  thanks for your information i solve the error

[2018-01-09 11:20] #49 closed

[2018-01-10 23:24] cppforlife opened #51 "retry on nsx v errors"
[code]

[2018-02-01 22:04] EleanorRigby commented on #38
@yeshwantbabar @ktchen14 : Can we close this issue now?

[2018-02-01 22:42] amhuber commented on #38
Yes, we've confirmed that the new release is working correctly.  Thank you, this saves us a huge amount of pain not having to manually fix the disks on every deployment.  :-)

[2018-02-01 22:42] #38 closed

[2018-02-01 23:22] EleanorRigby commented on #38
@amhuber : Thanks for reporting the issue and the update for closing it.

[2018-02-06 01:35] abhilash07 opened #59 "Datacenter not found"
Hi i am trying to deploy Cloud Foundry on Multi datacenter and configured datastores in datastore-cluster and networks respectively.
<img width="1306" alt="screen shot 2018-02-06 at 10 27 57 am" src="https://user-images.githubusercontent.com/10971841/35837339-bf8ca0be-0b28-11e8-9e6a-e04178b3d723.png">
<img width="1306" alt="screen shot 2018-02-06 at 10 27 04 am" src="https://user-images.githubuser

[2018-02-06 01:53] yeshwantbabar commented on #59
CPI requires access to perf_metrics from vSphere and ESX. Please enable them and give them about 10 mins to populate.

https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/5ea37ac72ee6da4b2e260af8590cd78326e02374/src/vsphere_cpi/lib/cloud/vsphere/vcenter_client.rb#L260

[2018-02-06 01:56] yeshwantbabar commented on #59
Also, vSphere CPI does not support multiple datacenters.

[2018-02-06 03:03] abhilash07 commented on #59
@yeshwantbabar thanks for your information

[2018-02-06 03:03] #59 closed

[2018-02-07 23:38] cppforlife opened #60 "[feature request] support vSphere Virtual Machine Encryption"
discussion in #bosh: https://cloudfoundry.slack.com/archives/C02HPPYQ2/p1518042060000030

https://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/techpaper/vm-encryption-vsphere65-perf.pdf

https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-A29066CD-8EF8-4A4E-9FC9-8628E05FC859.html

https://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/products

[2018-02-07 23:40] cppforlife commented on #51
fixed by https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/commit/1d5a5c4d97abbed9fdb98a8cf6d4a6b725078198

[2018-02-08 01:33] abhilash07 opened #61 "No valid placement found for disks"
Hi everyone i am trying to deploy Cloud Foundry on 3 clusters (with single host) in single datacenter and i created datastore cluster for three datastores. More over my vSphere and vCenter Version 6.5 with standard license.

![screen shot 2018-02-08 at 10 02 30 am](https://user-images.githubusercontent.com/10971841/35950036-d33b2442-0cb7-11e8-9a2b-cbf91876141e.png)

![screen shot 2018-02-08 at 10

[2018-02-08 01:45] EleanorRigby commented on #61
@abhilash07 : Have you made sure that all the datastores have enough free space?

[2018-02-08 01:49] yeshwantbabar commented on #61
Do you have enough free space on the datastores?

Just a heads up- CPI needs DRS feature in vSphere which comes under enterprise license. So things might fail with a standard license.

[2018-02-08 01:50] abhilash07 commented on #61
@EleanorRigby  thanks for your quick response, yes all the datastores has 700 GB free space. Moreover i deployed Bosh-Director on datastore1 and i am trying to deploy consul job on datastore 2 and create persistence disk then i am encounter this error

<img width="824" alt="screen shot 2018-02-08 at 10 01 24 am" src="https://user-images.githubusercontent.com/10971841/35951234-dab0ca28-0cbd-11e8-8f

[2018-02-08 01:51] abhilash07 commented on #61
@yeshwantbabar  yes all the datastores has 700 GB free space. So you mean without DRS enabled it is impossible ???

[2018-02-08 01:55] yeshwantbabar commented on #61
Unfortunately, yes. We are planning on supporting DRS disabled mode in the future. But the error that you are seeing here, seems related to disks.

[2018-02-08 01:56] abhilash07 commented on #61
@EleanorRigby this is my datastores
![screen shot 2018-02-08 at 10 55 47 am](https://user-images.githubusercontent.com/10971841/35951429-b6151da8-0cbe-11e8-87ad-ce1a5a1b2d67.png)
 information

[2018-02-08 01:58] yeshwantbabar commented on #61
Is SDRS enabled on these clusters? Can you possibly move them out of the cluster and give it a shot?

If SDRS is enabled, we can't choose a particular datastore for deployment.

[2018-02-08 02:03] abhilash07 commented on #61
@yeshwantbabar you're absolutely right, but unfortunately when i deployed CF vms on same micro-bosh datastore it is not getting error. I mean for example first i deployed Bosh-Director on datastore1, Next i started deploying CF VMs on same datastore1 it is successfully creating persistence disk

[2018-02-08 02:05] abhilash07 commented on #61
@yeshwantbabar yes the SDRS is enabled and DRS is disabled

[2018-02-08 02:08] yeshwantbabar commented on #61
Yes, that would not work. We are actually working on supporting SDRS which will be released early next week.

[2018-02-08 02:25] abhilash07 commented on #61
@yeshwantbabar so you mean if i disable SDRS and DRS on datastore cluster it is possible to overcome above error

[2018-02-08 03:44] yeshwantbabar commented on #61
I believe if you disable SDRS on the Datastore cluster and enable DRS on compute cluster, it should work.

[2018-02-09 06:35] abhilash07 commented on #61
hi everyone is there any solution to deploy CF on multi cluster with multi datastore on vsphere 6.5 standard licence (by disabling DRS and SDRS) . Please refer my yaml files. Thanks in advance

Micro-Bosh command:

bosh create-env /home/ubuntu/workspace/deployments/bosh-deployment/bosh.yml --state=state.json --vars-store=creds.yml -o /home/ubuntu/workspace/deployments/bosh-deployment/vsphere/cpi.y

[2018-02-12 20:06] cppforlife opened #62 "allow cpi to use copied stemcells as source for copying stemcells into new datastores"

[2018-02-13 21:27] deadlysyn commented on #49
hmm seeing the same issue, despite already having my password w/ special chars in single quotes.  have a resource pool so very slight difference in my inputs.  latest vsphere cpi from bosh-deployment repo.  same creds work fine manually.  bosh.io docs a little light on detail (will PR if i figure it out and some sort of doc addition would help...may be something in my environment).

$ bosh -v
vers

[2018-02-13 23:47] abhilash07 commented on #49
@deadlysyn  please try this way

network_name: "VM Network"
vcenter_user: administrator@vsphere.local
vcenter_password: 'your_password'

[2018-02-14 00:12] deadlysyn commented on #49
thanks for the tip.  same issue...started with that with Administrator just being my last permutation.  was desperate so trying all sorts of:

DOMAIN\Administrator
Administrator@DOMAIN
administrator@domain
...

all seem to fail...with or without quotes (i figured yaml would want a string with @ quoted but 'administrator@vsphere.local' didn't work either).

someone mentioned elsewhere to avoid spec

[2018-02-14 01:03] abhilash07 commented on #49
@deadlysyn can you please upload screen short of error message in vSphere Web client events

[2018-02-14 09:04] abhilash07 commented on #61
Every one thanks for your sugeestions error is solved we can deploy cloud foundry on multi datastores

[2018-02-14 09:04] #61 closed

[2018-02-14 15:11] scottschulthess commented on #38
Ran into this, looking to upgrade to resolve but curious @amhuber what process did you do to manually fix the disks?

[2018-02-14 15:42] amhuber commented on #38
Assuming you have a VM that is already broken, then the CPI would have deleted the VM in question but left the disk in the VM folder.  To fix it, you need to:

- Find the disk.  You should know the VM name from the BOSH error.  Search through all datastores until you find the VM folder with the VMDK in it.  The VMDK will have been renamed to match the VM name, but you will be able to confirm the s

[2018-02-14 16:58] EleanorRigby commented on #11
@yeshwantbabar : Should we support fully qualified names for the resource pools?

[2018-02-14 17:40] scottschulthess commented on #38
Thanks for the update @amhuber

[2018-02-19 09:03] markround commented on #49
Hi, not the OP but having the same issue.
Here's the ESXi error - I ended up creating a new `bosh` user with a password chosen to avoid any problematic chars:

![bosh_login](https://user-images.githubusercontent.com/646543/36369236-6c0b8fca-1552-11e8-8a0a-e00c6a8acc33.png)

From my `create-env` command:

[code]

And the resulting error in the terminal:

[code]

[2018-02-22 18:56] cppforlife opened #66 "[feature request] automatically upgrade hw version"
some customers want to run on latest virtual hardware version of a stemcell. it may be to take advantage of perf features, or some to be compatible with new esxi features. recently we had another request for it, so im filing this issue on thier behalf. i think it would be nice to add a feature flag (with a default false) so that we can opt in for some users as a trial run. eventually may be enable

[2018-03-05 17:46] yeshwantbabar commented on #62
Fixed in Version 46.

[2018-03-05 17:46] #62 closed

[2018-03-05 17:46] yeshwantbabar commented on #51
Fixed in Version 46.

[2018-03-05 17:46] #51 closed

[2018-03-05 17:46] yeshwantbabar commented on #29
Fixed in version 46.

[2018-03-05 17:46] #29 closed

[2018-03-05 17:47] yeshwantbabar commented on #46
Fixed in version 46.

[2018-03-05 17:47] #46 closed

[2018-03-05 17:49] yeshwantbabar commented on #47
Seems like this was an issue related to the environment. Closing this for now. Please feel free to reopen it if you notice it again.

[2018-03-05 17:49] #47 closed

[2018-03-13 05:23] abhilash07 opened #71 "Name or service not known"
Hi everyone, i am trying to deploying Micro-bosh on vsphere 6.5.

But i encounter below error

creating stemcell (bosh-vsphere-esxi-ubuntu-trusty-go_agent 3468.21):
  CPI 'create_stemcell' method responded with error: CmdError{"type":"Unknown","message":"getaddrinfo: Name or service not known (cl3-esx01.cl2.local:443)","ok_to_retry":false}

Exit code 1

Thank in advance.

Abhilash S

[2018-03-14 06:08] #71 closed

[2018-03-16 19:19] cppforlife opened #75 "unknown variable in an error message"
`#{datacenters.inspect}` references to a variable that does not exist.

[code]

https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/v46.1.0/src/vsphere_cpi/lib/cloud/vsphere/cloud.rb#L583-L585

[2018-03-19 23:16] #25 closed

[2018-03-20 19:50] cloud-dude opened #76 "Cluster placement not working correctly for local storage persistent disks"
Currently we seem to be running into a bug where if you specify local storage it does not validate if there is enough persistent disk space available on the host it is placing the VM on. Ephemeral disks are running on shared storage and persistent disks are running on local storage. We attached our bosh log for further clarification.
[bosh_deployment_log.txt](https://github.com/cloudfoundry-incuba

[2018-03-20 21:09] yeshwantbabar commented on #76
Are you saying that there are multiple local datastores and CPI isn't choosing the one with more free space?

[2018-03-20 21:28] ktchen14 commented on #76
I think what's happening here is that typically we expect the ephemeral disks to be placed on local storage and the persistent disks to be placed on shared storage. However in this case the inverse has been configured.

When we choose a cluster for the VM we base the decision (partially) on whether or not a cluster has enough storage available to it to house the ephemeral disk.

Then later when BO

[2018-03-23 16:45] Lafunamor opened #77 "disk_cid might exceed 255 characters"
Hi there

I've found a potential bug when using custom datastore placment for disk-types in my cloud-config.
The result is this error:
`Error: Unknown CPI error 'InvalidCall' with message 'Arguments are not correct, details: 'invalid base64'' in 'attach_disk' CPI method`

I've trace the problem back to the DB schema definition. When using mysql the column 'disk_cid' is of type varchar(255). Mysql

[2018-03-27 06:31] cppforlife commented on #77
@Lafunamor which version of the director are you using?

[2018-03-27 06:38] cppforlife commented on #76
@cloud-dude @ktchen14 did we regress on this functionality?

[2018-03-27 11:30] Lafunamor commented on #77
@cppforlife Sorry, I forgot to add it. It's bosh version 264.6.0

[2018-03-30 17:28] s-matyukevich opened #79 "The CPI doesn't delete nsx security group, created for a particular vm, after the vm is deleted."
Because of this behavior right now we are having 3000+ security groups. Sometimes this causes new deployments to fail, because [this](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/master/src/vsphere_cpi/lib/cloud/vsphere/nsx.rb#L273) method times out.

[2018-03-30 17:31] ktchen14 commented on #77
We need to take a look at the `DirectorDiskCID` here which is where we base64 encode some data into the disk id. @nehagjain15 can we safely remove the additional metadata in the disk id?

[2018-03-30 17:33] ktchen14 commented on #76
@cppforlife I don't think this ever worked reliably. We'll need to investigate if we can alert DRS to the fact that we're about to put a large disk onto the local datastore before it makes its decision.

[2018-03-30 22:59] cppforlife commented on #79
i wonder if we should have some kind of pruning script in the background. problem is though cpi needs to use cpi configs to connect to vsphere.

[2018-04-02 16:02] s-matyukevich commented on #79
Can somebody explain why we can't simply delete the security group, associated with a VM, at the time when the VM is deleted? I saw [this](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/1d5a5c4d97abbed9fdb98a8cf6d4a6b725078198/src/vsphere_cpi/lib/cloud/vsphere/nsx.rb#L53) comment in the CPI source code, but I still don't understand how we can affect other security groups w

[2018-04-02 16:32] cppforlife commented on #79
multiple vms share a sec group, and there might be a race between deleting all vms in a sec grpup and deleteing it as well, and creating new vms in that instance group (which would require sec group presence). things are made more complicated by nsxt not making it easier to have objects unique based on a given identifier.

Sent from my iPhone

[2018-04-03 22:28] nehagjain15 commented on #77
We can not remove this until we find another way to store and access this information in attach_disk call. Background on why this was added https://www.pivotaltracker.com/n/projects/1133984/stories/114981013

[2018-04-03 22:44] nehagjain15 commented on #75
This error is not present in latest release, as this method was removed

[2018-04-03 23:39] #75 closed

[2018-04-04 00:11] cppforlife opened #80 "provide better error message about network connectivity"
current error message:

[code]

in the above scenario CPI is trying to talk to one of the esxi hosts. it's not clear from the error message which endpoint it's trying to hit. let's provide a more verbose error message with the endpoint information. be careful about exposing any creds.

[2018-04-04 15:50] alakshman opened #81 "create_vm failure"
Guys

Could someone please help me debug this issue? I keep getting this error on attempt to deploy VMs.

L Error: Unknown CPI error 'Unknown' with message 'Could not transfer file 'https://10.234.36.102/folder/vm-c8fa7d28-67ea-4538-a067-c3c137cd76f7/env.json?dcPath=ppc&dsName=vol-NFScf4', received status code '500'' in 'create_vm' CPI method
Task 162 | 16:42:55 | Creating missing vms: access_z1/0

[2018-04-11 23:21] ozbasarir opened #85 "ability to specify drs rules without overriding datacenter and cluster"
currently one has to specify drs rules like following (nested under cluster):

[code]

which means that one has to know datacenter and cluster name when specifying it. (typically dc/cluster configuration is specified under an az)

ideally we can specify drs_rules at the top level of cloud properties so that one does not have to know about dc/cluster. example:

[code]

this way drs_rules can be spe

[2018-04-11 23:31] yeshwantbabar commented on #85
Thanks for the feature request. We already have this in our backlog, this will help us prioritize it.

[2018-04-12 19:24] eamonryan opened #86 "Does the multi-cluster per AZ feature load-balance and how?"
In recent versions of the CPI BOSH now supports having multiple vSphere Clusters as part of a single AZ.

Does the CPI balance VM placement across each member cluster equally, or via some other method? Is this tuneable?

Could this also be documented on https://bosh.io/docs/vsphere-cpi.html?

cc @cppforlife

[2018-04-12 19:44] yeshwantbabar commented on #86
CPI doesn't equally distribute VMs across the different clusters. We look at a bunch of different things ranging from :
1) Datastore connectivity.
2) Number of active hosts.
3) Free memory
4) Free space etc.

Here is the method - https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/97ca81f8fa8ecec18294dd8936ddd0fd30cfcc1f/src/vsphere_cpi/lib/cloud/vsphere/cluster_picker.rb#L15

[2018-04-12 21:20] cppforlife commented on #85
@yeshwantbabar would you mind adding a link to tracker item here?

[2018-04-12 21:46] yeshwantbabar commented on #85
https://www.pivotaltracker.com/story/show/155381404

[2018-04-17 23:35] NiranEC77 opened #87 "VMFork with BOSH"
With vSphere 6.7 VMware enabled the ability to invoke VMFork through the API, this means one can power on hundreds of VMs at once using linked cloning technologies.
This can be of great value for BOSH as anyone working with BOSH knows the pain of waiting for BOSH waiting minutes for each VM to come up. in comparison to the cloud that time is unacceptable. If taking advantage of VMFork BOSH can dep

[2018-04-19 21:15] EleanorRigby commented on #66
#84

[2018-04-23 23:15] cppforlife opened #89 "bump to use ruby-2.4-r4 from bosh-packages/ruby-release"
to pick up latest ruby version for the cpi.
[code]

[2018-04-24 15:28] Lafunamor commented on #77
Would it be possible to change the type of the 'disk_cid' column to something other than varchar(255)?

[2018-04-24 15:51] ktchen14 commented on #77
For the record in PostgreSQL there's no performance difference between a `VARCHAR(255)` and a `TEXT` (which has no limit restriction). Both are backed by a `varlena`.

[2018-04-24 21:36] EleanorRigby commented on #81
This likely means that vcenter is facing some internal error. CPI cannot do anything other than retrying it before giving up. It already does retry 5 times.

[2018-04-25 00:30] cppforlife commented on #77
@Lafunamor closing here, and created above issue in cloudfoundry/bosh

[2018-04-25 00:30] #77 closed

[2018-04-26 23:35] EleanorRigby commented on #66
Delivered.
User is required to add a property upgrade_hw_version: true (false by default) to upgrade to the latest version.
More details : https://www.pivotaltracker.com/story/show/156671737

[2018-04-26 23:35] #66 closed

[2018-05-02 17:10] EleanorRigby commented on #89
#92

[2018-05-02 21:18] EleanorRigby commented on #89
Upgraded.

[2018-05-02 21:18] #89 closed

[2018-05-08 14:39] anyandrea opened #98 "Free disk space calculation in datastore_picker.rb doesn't take vmware swapfiles into account"
There is a hardcoded value for the headroom in the datastore_picker.rb that's used when selecting datastores to place a vm/disk. The CPI's choice is based on free space + headroom value but unfortunately it doesn't take into account the fact that vmware creates a temporary swapfile (same size as the vm-RAM is). This might lead to the situation that bosh tries to create this swapfile on a datastore

[2018-05-10 07:05] marcohelmerich opened #99 "Upgrade hardware version really working?"
Hi,
we are just trying to get into cloud foundry on vsphere. As the stemcell version 9 is prehistoric and has a lot of issues we would like to bump it to 13. What we are trying ist to put upgrade_hw_version: true in the vm types section.
[code]

wrong place?

[2018-05-10 15:11] EleanorRigby commented on #99
Yes , it should work. What release version are you using for CPI?

[2018-05-11 07:42] marcohelmerich commented on #99
Sorry, we kind of messed up the cpi-config and used Version 47, with version 48 it does work fine. Version 47 was hardcoded in the bosh deployment repo, we pulled master there and kind of expected it to be the newest version of "everything". We now have hw version 13 and everything works as expected

[2018-05-11 07:43] #99 closed

[2018-05-30 19:11] cppforlife opened #107 "improve comm error messages to include destination"
[code]

above error message does not indicate during which operation (and to which endpoint request is made) execution expires.

[2018-05-31 12:44] brunograz opened #108 "Datastore disk placement issue in v47"
Hi,

We deployed a bosh director specifying the parameters listed at https://bosh.io/docs/init-vsphere/. What we noticed though was a strange behavior when deploying VMs.
Every single ephemeral disk would use the same datastore until it fills up and return us the error `Error: Unknown CPI error 'Unknown' with message 'Module 'MonitorLoop' power on failed. ' in 'create_vm' CPI method`.

Following t

[2018-05-31 19:40] nehagjain15 commented on #108
@brunograz In in your config did you only specify the Datastore cluster which had those 6 datastores?
Could you share what was in your init command and in cloud config please.
If you have the logs that would be of great help, if you could share those, so that we can see what cpi did. You can get cpi specific log from the deploy task using --cpi flag. If not do you mind retrying with v47 and then s

[2018-06-01 10:06] JamesClonk opened #110 "Datastore clusters in global configuration?"
Would it be possible to add the option of configuring datastore clusters in the global CPI configuration?
Instead of just one regex string for datastores only?
Similar to how the configuration on resource-pool level can be an array of multiple datastores / datastore clusters.

We'd like to be able to specify our datastore cluster's name in the global CPI configuration.

[2018-06-01 17:48] nehagjain15 commented on #108
@brunograz we did find what the issue is and will be fixing it. Tracker [link](https://www.pivotaltracker.com/story/show/158039615)
If you do want to use v47 you can set 1 datastore in your global config and specify the datastore cluster in cloud_config. This should solve your problem until we push the fix

[2018-06-04 17:44] nehagjain15 commented on #110
@JamesClonk we will take a look at that and update you

[2018-06-12 00:09] cppforlife opened #113 "questionable cluster selection in multi cluster setup"
it was reported that given two clusters (one is much smaller than the other), smaller cluster was being picked for no apparent reason. let's understand this behavior in the context of that env and also argument the cpi with extensive logging about decisions it's making and reasons behind them.

[2018-06-13 14:47] z4ce opened #114 "vSphere CPI doesn't escape network port groups correctly"
Running `create-env -o bosh-deployment/vsphere/cpi.yml -v network_name='dvPortGroup-10.60.30.0/24-PCF-MGMT'`

results in:
[code]

Work around is to specify using `%2f` in place of the slash like: `create-env -o bosh-deployment/vsphere/cpi.yml -v network_name='dvPortGroup-10.60.30.0%2f24-PCF-MGMT'`

[2018-06-13 14:52] ktchen14 commented on #114
Unfortunately the `/` character in a network name is used by the BOSH CPI to allow a user to refer to a distributed portgroup nested within a distributed switch or a distributed portgroup nested under a network folder. At the moment this is more or less the intended behavior.

[2018-06-14 19:18] patrick-huber-pivotal opened #115 "Question: does the CPI support use of a NAT'd IP address for jumpbox/director provisioning"
The documentation here states that it is possible to supply an external IP for vsphere:

https://bosh.io/docs/init-external-ip/

In a NAT'd network, the jumpbox (cppforlife/jumpbox-deployment) or director is brought up with the CPI method create-vm. The cli then attempts to connect to the VM using the internal_ip for the VM. If the VM on a NAT'd vlan, the cli cannot connect to the VM. Is it possib

[2018-06-18 07:16] anyandrea commented on #98
Any update on this issue?

[2018-06-18 17:10] antitux commented on #115
I have a similar environment and ended up creating an .envrc function to get around this:
[code]

[2018-06-18 17:21] EleanorRigby commented on #113
#35 : This issue was earlier seen in cpi release 45.0.1. which was fixed in v46+ .

The culprit here was mis-calculation of balance score (an indicator of free space with cluster)

Adding more logging is being worked on.

[2018-06-18 17:57] jaresty commented on #115
@patrick-huber-pivotal I don't believe you can do this natively with the bosh-cli; we work around this limitation in our CI by setting up an ssh tunnel as you can see [here](https://github.com/pivotal-cf/bosh-concourse-deployments/blob/master/ci/utils#L117-L129) to do create-env through a jumpbox.  After that, you should be able to use BOSH_ALL_PROXY to target and use the director.

[2018-06-18 22:44] #113 closed

[2018-06-20 20:02] shyaamsn opened #118 "[feature-request] NSX-T CPI: Support for client certificate based authentication"
Currently, NSX-T CPI supports username/password for authentication. This is a feature request to also support client certificate based authentitcation

[2018-06-20 22:23] EleanorRigby commented on #118
@medvedzver

[2018-06-22 16:28] medvedzver commented on #118
@EleanorRigby A little different from what I was looking into.

@shyaamsn Just to make sure - do you want to use [this](https://pubs.vmware.com/vidm/index.jsp?topic=%2Fcom.vmware.wsair-administration%2FGUID-26C15BA2-3B76-4E53-ABBB-E83271F1B9CB.html) NSX-t feature and instead of NSXt password/login you want to provide NSXt cert for CPI configuration. Am I right?

[2018-06-22 20:32] shyaamsn commented on #118
@medvedzver Yes instead of username/password based login I want to provide a certificate and key for authentication.

But its not through identity manager. Unfortunately, there isnt much documentation about this.

But this is how it works:
1. Create a certificate and key (using openssl)
2. Import the certificate in nsx manager
3. Create a principal identity (e.g. vsphere-cpi) binding with the cert

[2018-06-26 19:47] patrick-huber-pivotal commented on #115
Ok, thanks for the info. I'll close out for now and work on testing this.

[2018-06-26 19:47] #115 closed

[2018-06-26 23:42] cppforlife commented on #114
i think you can use `%2F` (`%2f`) instead of slash.

[2018-06-26 23:42] cppforlife commented on #114
oops didnt see your comment ending... doh. @ktchen14 i wonder if it's worth adding this to some doc somewhere?

[2018-06-27 00:58] yeshwantbabar commented on #108
This issue is fixed in V50.

[2018-06-27 00:58] #108 closed

[2018-06-27 01:09] yeshwantbabar commented on #81
@alakshman  - If you are not facing this issue anymore, would you mind if I close this issue?

[2018-06-27 19:01] cppforlife opened #119 "document special character limitations/replacements"
how to deal with:
- slashes
- spaces

[2018-06-27 19:01] cppforlife commented on #114
related: https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/issues/119

[2018-06-28 17:46] denislooby opened #120 "Ampersand in Datacentre name is not encoded correctly"
I have a datacentre called EP&T.
This is causing problems during vm creation when it tries to upload a file to the vm cloned from the stemcell.

It tries to upload to this URI.
`
https://w.x.y.z/folder/vm-1db04380-8ef3-4660-8d07-2be6d7caf86c/env.json?dcPath=EP&T&dsName=datastore1
`

The ampersand in EP&T is not encoded because the URI.escape used in file_provider.rb does not escape characters like

[2018-06-28 23:48] EleanorRigby opened #121 "Upgrade VM Hardware permission"
Add this permission to required vsphere permissions doc for cpi

[2018-07-09 23:05] yeshwantbabar commented on #98
Hi @anyandrea  - We have just started working on this one. Will keep you posted.

Thanks,
Yeshwant

[2018-07-10 17:20] MuthuvelkumarS opened #122 "adding persistent disk again and again and failed"
We are trying to set up an external concourse worker at a different vsphere datacenters where our bosh and existing concourse are running. We have successfully configured CPI.yml and cloudconfig.yml. When we tried to deploy, we are getting below error.
[code]
Concourse is using postgres and it requires persistent disk. Bosh while adding persistent disk to vm, it throws the above error.  we logged

[2018-07-17 18:32] medvedzver commented on #120
@denislooby Thanks for submitting the issue. We'll try to reproduce it(should be easy) and fix it if it's possible!

[2018-07-17 18:44] #81 closed

[2018-07-17 18:45] alakshman commented on #81
Yes please close it.

[2018-07-17 21:24] medvedzver commented on #120
@denislooby Followup question. Which version of vCenter and CPI are you using?

[2018-07-18 09:32] denislooby commented on #120
@medvedzver The CPI version was 45.1.0, vcentre/ESXi was 6.5.0

[2018-07-19 17:41] yeshwantbabar commented on #114
Opening a doc PR for this.

[2018-07-19 17:41] #114 closed

[2018-07-20 00:08] CAFxX commented on #37
@yeshwantbabar can you post the link of the issue this is a duplicate of?

[2018-07-20 01:03] yeshwantbabar commented on #37
@CAFxX :  https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/issues/34

[2018-07-20 21:39] dpb587-pivotal opened #127 "resize_disk method should fail as NotImplemented"
When director has `director.enable_cpi_resize_disk` enabled and using the vSphere CPI, disk size changes are ignored and the original disk size is always used.

More context if helpful... the `resize_disk` method was introduced a while ago as an optimization to allow disk resizing from the IaaS level. From director, this is feature flagged with [`director.enable_cpi_resize_disk`](https://github.co

[2018-07-20 22:03] nehagjain15 commented on #127
@dpb587-pivotal Filed a story in tracker #[159212203](https://www.pivotaltracker.com/story/show/159212203)

[2018-07-23 22:43] nehagjain15 commented on #127
@dpb587-pivotal This was merged to master, so closing this bug

[2018-07-23 22:43] #127 closed

[2018-07-23 22:51] dpb587-pivotal commented on #127
Thanks for the quick turnaround!

[2018-07-30 18:41] EleanorRigby commented on #121
https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/commit/e6791449e83f7487bd274ab09fce802bf74c998e

[2018-07-30 18:41] #121 closed

[2018-08-02 21:31] #98 closed

[2018-08-03 21:08] medvedzver commented on #120
@denislooby Sorry for not responding for many days.
We did reproduced an issue and submitted a bug to vCenter people.

[2018-08-06 18:56] #122 closed

[2018-08-07 12:07] anyandrea commented on #98
Hi @yeshwantbabar
Thank you very much for the update! I'm gonna test it!
Best,
Andrea

[2018-08-08 22:09] nehagjain15 commented on #118
@shyaamsn This has been added as part of this [PR] (https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/pull/123)

[2018-08-08 23:26] nehagjain15 opened #133 "[feature request] Put each VM for a deployment in to a sub directory"
The request is to put each VM for a deployment in to a sub directory for easier mgmt inside vSphere.
So instead of having:
[code]
There would be something like:
[code]
That way you can easily see which VMs correspond to a deployment.

[2018-08-08 23:27] nehagjain15 commented on #133
@yeshwantbabar

[2018-08-17 09:59] giner opened #136 "Cannot specify datacenter different from global config"
I'm trying to use multi-cpi with the latest version of vsphere-cpi (v50) and cannot make it work.

Conditions:
- two vcenters / two datacenters
- one vcenter + datacenter is specified in global configuration and another one is specified in cpi config
- multiple clusters per vcenter

Request:
[code]
Response:
[code]
CPI:
[code]
CPI config
[code]

So it is trying to find cluster JPE2-std-204 (which

[2018-08-17 17:26] nehagjain15 commented on #136
@giner did your same config work for previous versions? Do you have your az's set to reference different cpi's?

[2018-08-17 23:43] giner commented on #136
@nehagjain15 So far we've been using multiple clusters within single vcenter / datacenter.

It's the first time I'm trying to use multi-cpi. [Documentation](https://bosh.io/docs/cpi-config/#example) suggests it should work.

[2018-08-20 01:06] giner commented on #136
Hi @nehagjain15, it is probably my fault. I assumed (which felt kind of obvious) that multi-cpi configuration was identical to cpi configuration in the [spec file](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/35b7a3ac9a65de3e88a6b1e0fbdb09df61b8171a/jobs/vsphere_cpi/spec) however it appeared to be different and it looks more like [this](https://github.com/cloudfoundry-in

[2018-08-20 06:41] giner commented on #136
@nehagjain15, it works with the updated configuration. Still it seems to be confusing.

[2018-08-20 16:41] nehagjain15 commented on #136
I am glad that it worked. We will see if we can update the multi-cpi documentation to be more clear oaboutconfiguration

[2018-08-21 23:29] dpb587-pivotal commented on #136
@giner regarding doc improvements, would you expect a different sort of vsphere example than the current one, or an additional note/comment somewhere on https://bosh.io/docs/cpi-config/#cpis?

[2018-08-21 23:55] giner commented on #136
The example looks fine however it doesn't say where it comes from. The documentation says "These are the Global Configuration of a given CPI", that's why I copied global configuration to the cpi config however naming and structure in the global config is slightly different.

[2018-08-22 17:52] giner commented on #136
I'm sorry, I was not clear on what is confusing.

Configuration in deployment:
[code]

Configuration in cpi-config:
[code]

There are at least two differences above:
1) there is no vcenter in cpi-config
2) address vs host

Another thing is that my understanding was that "Global configuration" is the one you put in the deployment however checking here https://bosh.io/docs/vsphere-cpi/#global it loo

[2018-08-23 15:40] dpb587-pivotal opened #141 "Confusion on address/host property in manifest vs CPI config"
I was noticing that when configuring vSphere, it's easy to confuse the configuration of the vCenter endpoint and I'm wondering if we can simplify it. When configuring via CPI config, users are supposed to use `host`, but when configuring with deployment manifests they're supposed to use `address` (which then, [internally](https://github.com/cloudfoundry-incubator/bosh-vsphere-cpi-release/blob/ee31

[2018-08-27 07:18] liuyuewen91 opened #142 "BOSH set up new environment on vSphere show "undefined method `effective_memory' for nil:NilClass""
I use latest bosh cli to create -env on vsphere.

[code]
I use ubuntu 18.04 LTS.
I also installed the dependencies.
`sudo apt-get install -y build-essential zlibc zlib1g-dev ruby ruby-dev openssl libxslt-dev libxml2-dev libssl-dev libreadline6 libreadline6-dev libyaml-dev libsqlite3-dev sqlite3
`
Base on script blow.

[code]
And i get error msg: "undefined method `effective_memory' for nil:NilClas

[2018-08-27 08:06] liuyuewen91 commented on #142
I was before created this issue at bosh-cli repo.
https://github.com/cloudfoundry/bosh-cli/issues/469#issuecomment-415881277

[2018-08-27 09:42] EleanorRigby commented on #142
Which CPI version are you using?

On Mon, Aug 27, 2018, 1:06 AM Yuewen Liu <notifications@github.com> wrote:

[2018-08-27 09:47] EleanorRigby commented on #142
Also the error seems to be coming from calculation of effective memory your
cluster has. Can you verify that you provided right cluster( i.e. cluster1
, does it exist in your vcenter)?

On Mon, Aug 27, 2018, 2:42 AM Tushar Aggarwal <tushar.2905@gmail.com> wrote:

[2018-08-27 09:57] liuyuewen91 commented on #142
@EleanorRigby
Thanks for your information. I think i use the latest vsphere-cpi.
I found in bosh-deployment/vsphere/cpi-cecondary.yml:
[code]

I will check the cluster of my vcenter.
thanks very much!

[2018-08-27 10:02] EleanorRigby commented on #142
Thanks for verifying the version. Have you deliberately put unused above to hide variables?

[2018-08-27 10:05] liuyuewen91 commented on #142
I copy it from the my clone of cloudfoundry/bosh-deployment
https://github.com/cloudfoundry/bosh-deployment/blob/master/vsphere/cpi-secondary.yml

[2018-08-27 10:09] liuyuewen91 commented on #142
I post the cpi-cecondary.yml.
this is cpi.yml:
https://github.com/cloudfoundry/bosh-deployment/blob/master/vsphere/cpi.yml

the unused will replace by input parameter.

[2018-08-27 10:30] liuyuewen91 commented on #142
@EleanorRigby
I think i have the cluster in my vcenter.
this is the script i used to create bosh env.

[code]
this is the  screenshot from vsphere web-ui.
https://s3-us-west-2.amazonaws.com/qmc-filetransfer/Screenshot+Vsphere.png
From the events log, i found login success events.
I think i cloud connect the my vsphere.

[2018-08-27 16:10] liuyuewen91 commented on #142
@EleanorRigby
the account i got from my Provider, he forgot grant the privileges for get cluster information.
thanks for your information.
that's lead me to check  privileges again.

[2018-08-27 16:10] #142 closed

[2018-08-28 16:06] nehagjain15 commented on #141
Tracker Story https://www.pivotaltracker.com/story/show/160008312

[2018-08-29 22:52] EleanorRigby commented on #141
#143

[2018-08-29 22:52] EleanorRigby commented on #141
#143

[2018-09-10 22:57] #141 closed

[2018-09-15 12:18] JamesClonk opened #150 "detach_disks fails with 'Insufficient disk space on datastore'"
**Describe the bug**
During `detach_disks` the CPI checks if a persistent disk has the correct name, if not it tries to rename the disk to the expected name (disk-guid). Unfortunately it does so by simply extracting the `current_datastore` name, and wants to "rename" it without checking if said datastore still has enough free disk capacity.
A disk rename/move temporarily creates a copy on the data

[2018-09-17 18:48] nehagjain15 commented on #150
Thanks you @JamesClonk. I have created a [tracker story](https://www.pivotaltracker.com/story/show/160565671) for this issue. Will update you when we get to it.

[2018-09-21 18:57] mxplusb opened #152 "perf: Slow responses for vCenter 6.5 with 25 Director workers"
**Describe the bug**

vCenter can queue up to 2500 operations, and actively perform ~8 operations concurrently. When the BOSH Director is configured with 25 Director Workers and you deploy cf-deployment, the CPI will sit and process the changes for ~10 minutes before registering the tasks with the vCenter queue.

**To Reproduce**
Steps to reproduce the behavior:
1. Stand up BOSH Director with vSph

[2018-09-21 19:02] EleanorRigby commented on #152
What's the CPI version you are using?

[2018-09-21 19:07] mxplusb commented on #152
Currently it's deployed with `50`.

[2018-09-24 17:55] EleanorRigby commented on #118
Delivered in v51.

[2018-09-24 17:55] #118 closed

[2018-09-24 19:44] cunnie opened #153 "`Address family not supported by protocol` on IPv6-enabled VCSAs"
**Describe the bug**

When uploading a stemcell to an IPv6-enabled VCSA, you may get an `Address family not supported by protocol` error

**To Reproduce**
Steps to reproduce the behavior:

1. Have a dual-stack VCSA
1. Have an IPv4-only BOSH
1.  Upload a stemcell

**CPI Error Log**

[code]

**Expected behavior**

I'd expect the stemcell to be uploaded

**Screenshots**
If applicable, add screenshots

[2018-09-24 20:06] EleanorRigby commented on #153
Is `IPv6` support enabled on the esxi hosts?

[2018-09-25 13:34] cunnie commented on #153
This is a very simple way to cause the failure (run this command on the BOSH Director):
[code]

[2018-09-25 17:47] EleanorRigby commented on #152
We have added this issue to the tracker : https://www.pivotaltracker.com/story/show/160740611 . We will keep you posted when we pick it up. Thanks for clear reporting of issue.

[2018-09-25 21:00] mxplusb commented on #152
Awesome! I am really curious as to what would be causing it, please keep me in the loop. :)

[2018-09-27 18:51] mxplusb opened #156 "switchUuid bug"
**Describe the bug**

When deploying VMs with this cloud configuration:

[code]

It produces this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a release with a VM type matching above referenced.

**CPI Error Log**

[code]

**Expected behavior**
VMs should deploy with that VMX configuration.

**Screenshots**

![image](https://user-images.githubusercontent.com/7537841/

[2018-09-27 19:05] EleanorRigby commented on #156
Hi @mxplusb

Can you try setting `disk.EnableUUID = "TRUE"`? I think "1" is not a valid value that vcenter expects. Also, we do not modify/validate/reinterpret advanced vmx configuration. Whatever is supplied in `vm_type` is directly passed to vCenter. So, if you were expecting `"1"` to be interpreted as `"True"`,  that will not happen.
CPI code line I am referring to : https://github.com/cloudfou

[2018-09-27 19:35] nehagjain15 commented on #156
@mxplusb I tested it with almost similar configuration except that I used latest CPI and it worked. You have the right value for  disk.enableUUID. I will try with version 50 and get back to you. From your detailed log it looks like 2 create_vm calls were successful  and 3rd one failed.

CPI Version: 51
BOSH Director Version: 268.0.1 (00000000)
Stemcell Name: ubuntu-trusty
vCenter Version: 6.5.0
NS

[2018-09-27 20:39] EleanorRigby commented on #156
@nehagjain15 : Thanks for the deployment and verification. After digging in a bit more on google with the error you are facing, It might be an issue with configuration of your distributed vswitch portgroups.

One of the related link that might help : https://discussions.citrix.com/topic/390095-a-specified-parameter-was-not-correct-specdevicechangedeviceportswitchuuid/

[2018-09-27 20:53] mxplusb commented on #156
Thanks @EleanorRigby & @nehagjain15. turns out there was a bad DVS configuration after adding a new host, it looks resolved now!

[2018-09-27 20:53] #156 closed

[2018-09-27 20:57] nehagjain15 commented on #153
@cunnie
The error that you are seeing is raised when vcenter_client is being initialized and during the deployment of director each of the method that you have listed does that successfully.
It is just that when the call is made from deployed director vm an error is being raised. So, I am not sure if thats where the problem is.
We will try to do the same setup and will update you on how it goes.

[2018-09-28 14:54] cunnie commented on #153
**The error does not exhibit on the Ops Manager** when invoked with the same `cpi.json` file as the BOSH Director's:
[code]

[2018-09-28 23:30] cunnie commented on #153
Workaround: use **vCenter IPv4 address** not hostname in BOSH manifest

Short version: if

- the BOSH Director (or the Operations Manager) is not on the same IPv4 subnet as...
-  a dual-stack (both IPv4 and IPv6) vcenter (e.g. vcenter-67.nono.io),
- and the hostname (vcenter-67.nono.io) resolves both IPv4 and IPv6 addresses,
- and the hostname of the vcenter (_not_ the IP address) is used in the B

[2018-10-01 18:49] nehagjain15 commented on #152
@mxplusb Can you elaborate more on what you mean by Step #4. Did you mean you started CF deployment at time X and started seeing things in vCenter atafter X+10 minutes? Can you please share your deployment log for CPI so that we can see what was happening in CPI ? You get get the CPI log using bosh task command
```bosh task task# --cpi --debug```

[2018-10-01 19:58] mxplusb commented on #152
This is correct - the time does vary a bit, but 10 minutes seemed to be somewhat average. BOSH + CPI is doing something, but what exactly, I'm not sure. I don't see this behaviour in any of the other CPIs, so I'm guessing it's something specific to the vSphere CPI + something vCenter is doing.

Here is what you see in the BOSH CLI:

[code]

You'll notice there was a ~6 minute state where seemingly

[2018-10-01 20:58] nehagjain15 commented on #152
@mxplusb First call to CPI was made at
``` 2018-09-19T15:37:28.062265 #16762]  INFO -- [req_id cpi-282367]: Starting info...```
between Preparing deploy and this call it is director which is doing the work and CPI is not involved at that point of time. Creation of Compilation VM is when CPI calls were issued. I think you need to contact BOSH team for this. @dpb587-pivotal can you  help ?

[2018-10-01 21:33] dpb587-pivotal commented on #152
We did recently fix some performance issues that were occurring around the "preparing deployment" stage - I'd recommend upgrading to [v267.7.0+](https://github.com/cloudfoundry/bosh/releases/tag/v267.7.0) and see if it helps. The slowness was most pronounced in environments where there were particularly large deployments with numerous VMs.

There are still some performance issues we are investigat

[2018-10-02 22:00] svrc-pivotal commented on #30
Just bumping this one.   We've tested with GOVC and it does not require ESXi connectivity, it does all of its actions including uploading to Datastores through vCenter (verified with tcpdump).

Is it still accurate that we need ESXi connectivity?

[2018-10-02 23:00] EleanorRigby commented on #30
Can you provide the command in govc you used? I traced the command `govc import.ovf` and found out that they use excat same way CPI uses to upload.

[2018-10-02 23:34] nehagjain15 commented on #152
@mxplusb you can try the above recommendation. I am going to close this issue as it is not CPI bug. If you still see performance issue feel free to open an issue on BOSH.

[2018-10-02 23:34] #152 closed

[2018-10-02 23:45] nehagjain15 commented on #136
@giner This has been fixed. You can now specify host in deployment configuration as well.

[2018-10-02 23:45] #136 closed

[2018-10-02 23:55] nehagjain15 commented on #110
Pivotal tracker story for same. [#160942636](https://www.pivotaltracker.com/story/show/160942636)

[2018-10-03 21:54] mxplusb commented on #152
@dpb587-pivotal I will give that a try and get back to you in the next week or so.

[2018-10-19 14:53] generalinterest opened #163 "5 minute delay in storage_picker.rb"
## Support Question
Environment: vSphere 6.0.0 with three clusters in a single Datacenter, and a single datastore in each cluster.

Problem: A Bosh Director with vSphere CPI v50 experiences a 5 minute delay when bosh recreating a VM.  A Bosh Director with the CPI v45.1.0 does not have this delay.

From the task debug log  following the "Starting create_vm..."

I, [2018-10-13T12:19:16.943111 #13837

[2018-10-19 15:03] EleanorRigby commented on #163
Can you provide complete CPI log for v45 and v50 , where you see the delay?

Are BOSH version , stemcells version different or same while using these
different CPI releases?

On Fri, Oct 19, 2018, 7:54 AM generalinterest <notifications@github.com>
wrote:

[2018-10-22 14:14] generalinterest commented on #163
Hi

Attaching the CPI logs from a bosh recreate job run on three foundations.

There is a bump in the BOSH versions and Stemcells...

The CPI v45 is BOSH version 265.11.0, stemcell 3541.49

The CPI v50 is BOSH version 266.12, stemcell 3586.43

I have the anonymised logs for one cpi v45 foundation, and two for v50 foundations.

2018-10-22_pcf_2.1.16_recreate_task_17563_cpi  is the v45 foundation

2

[2018-10-22 22:43] nehagjain15 commented on #163
Thank you for the logs, we will take a look at it and get back to you. If it is possible can you please try the latest version of CPI v51 ? We did a re-architecture for VM/Disk Placement as part of that release and it has lot more debugging log to help find issues with placement.

[2018-10-23 19:15] EleanorRigby commented on #153
@cunnie : Thanks for clear triage of the issue. Do you think CPI can change any source code to reflect this? or this is mostly for documentation and clarity?

[2018-10-23 21:40] agregory999 opened #164 "CPI to create DRS rule to disable VM from DRS."
## Feature Request

### Detailed Description
BOSH CPI for vSphere has the ability to create DRS rules, but only for separation.  We'd like to be able to create a rule which tells DRS to disable itself for a specific type of VM.

### Context
Currently the customer would like to use Fully Automated DRS as per our recommendation, but cannot tolerate the potential for clock skew if v-motion occurs for

[2018-10-24 13:10] agregory999 commented on #164
If we can do this today with BOSH, I am willing to propose it as a potential solution to try.

[2018-10-24 13:43] BrianRagazzi opened #165 "Deleted VMs leave components behind"
**Describe the bug**
When a VM is deleted by the CPI, a namespace/folder and some subfolders are left behind.  VSAN has a limit on the number of components per host; when these objects are not purged, they continue to count toward the limit.  When the limit (9000) is reached, VSAN stops provisioning new objects.

**To Reproduce**
Given an environment of vSphere 6.5 U2, NSX-T 2.2, Pivotal Operation

[2018-10-24 16:16] yeshwantbabar commented on #164
@agregory999  - We can not do this today in BOSH. We will take this as a feature request. For now, I would suggest going with the approach I mentioned on slack.

[2018-10-24 20:22] keramix opened #166 "Check for only operational logical ports (not all ports) during "delete_network""
**Describe the bug**
`delete_network` checks if a switch has one logical port before going ahead and deleting it. However, in some cases, the switch could have multiple ports  and yet there is only one that is operational.

In this case, deleting the network should move on but in reality it raises an error

**Expected behavior**
The switch should be deleted

[2018-10-25 23:41] yeshwantbabar commented on #163
@nehagjain15 @EleanorRigby  - Is there any update on this?

[2018-10-27 19:06] nehagjain15 commented on #165
@BrianRagazzi This is a vCenter bug which has been fixed in v6.5p03 and v6.7u1.
Also, to clean up your deployment completely you also need to run ```bosh clean-up``` to clean up releases, stemcells and orphaned disks as well

[2018-10-29 21:48] nehagjain15 commented on #163
@generalinterest I tested with v50 on 6.0 env with 2 clusters and each has multiple datastores and did not see any delay. You might want to look into your VC logs to see what call took long time.
[code]

[2018-10-31 22:57] dbarkelew commented on #164
@yeshwantbabar What about for environments that scale dynamically. Having someone trying to pin the VMs manually is not reliable enough. Do you have any other suggestions for a workaround to set the VM Override so the DRS Automation Level can be controlled by Bosh?

Is there a way to have a Bosh create trigger a script that would in turn set the VM Override for DRS Automation Level? If Bosh can pa

[2018-11-01 06:39] yeshwantbabar commented on #164
This is what I had mentioned in slack -
 1) Right now, customer could select all the Diego cell VMs and disable DRS on them. Documented here :http://www.yellow-bricks.com/2018/03/28/disable-drs-for-a-vm/ This has the obvious drawback which is, if the VMs get recreated you will need to keep updating this.

Is this not an acceptable solution?

[2018-11-01 11:03] agregory999 commented on #164
This is a workaround we can accomplish via script, correct.  However the enhancement request to have BOSH be able to affect this change automatically via the CPI is what we are after.  We'd like to be able to have this set directly upon VM creation.

[2018-11-01 23:54] yeshwantbabar commented on #164
@agregory999 @dbarkelew  - What I am suggesting above is just as a workaround in the meantime while we add this functionality. My understanding was that customer wants to solve this problem ASAP.  As I have mentioned on slack, we are open adding this new functionality. but It will take some time for us to implement this and have OM pick it up.  Rest assured, this will be available in the next CPI

[2018-11-02 18:12] dbarkelew commented on #164
Right now trying to figure out some ad hoc script to achieve the same because there is a huge push to have this everything ready in December since the go live is beginning of January. Any thoughts if the next release has a possibility of being released before the deployment official go live? (Is already live on a limited bases.)

Got something to handle when cells are created however there are a f

[2018-11-12 20:32] xyloman commented on #165
@nehagjain15 we experiencing a similar issue and we have v6.5.0 U2c: https://my.vmware.com/web/vmware/details?productId=614&rPId=27739&downloadGroup=VC65U2C is there a version newer than this that we would need to request from VMWare that contain the fix?

[2018-11-13 20:09] nehagjain15 commented on #165
@xyloman I think it will be part of v6.5.0 U2d which is not GA yet. You can use 6.7u1 which has the fix as well.

[2018-11-15 16:06] svrc-pivotal commented on #30
I think I found the culprit in the CPI - it’s the file provider that uploads the ISO CD-ROM image.   It falls back to a vCenter upload though.  Could we maybe flip the logic and make the vCenter upload the default?  Not sure what versions of VC/ESXi would break.

[2018-11-15 22:19] EleanorRigby commented on #30
@svrc-pivotal : The fallback to vCenter upload is always certain if upload through host does not complete. Why do you want vCenter upload to be default?

[2018-11-16 09:02] MatthiasWinzeler commented on #30
@EleanorRigby In our case, the VCenter and the ESX hosts are in dedicated management networks, far away from the workload where CF lives - and I guess other enterprises have the same issue. So it would be easier if the CPI only talks to only one endpoint, the vcenter - then we can just make this one vcenter endpoint accessible from the workload (for example with a reverse proxy) and don't have to

[2018-11-16 14:16] svrc-pivotal commented on #30
@eleanorrigby ^ what he said.  It’s invariably been a moderate pain to get direct ESX access.

[2018-11-20 10:03] agiorgi opened #173 "'SSL_connect SYSCALL returned=5 errno=0 state=unknown state', type: IaasConfigurationVerifier"
## Support Question

Hi guys:

I get this error when I try to define a vCenter server in the BOSH Director for vSphere
'SSL_connect SYSCALL returned=5 errno=0 state=unknown state', type: IaasConfigurationVerifier

I've changed my vCenter to accept TLS 1.0 but the problem remains.

It happen with different versions of OpsManager :
pcf-vsphere-2.1-build.304.ova
pcf-vsphere-2.3-build.188.ova
pcf-vsph

[2018-11-20 14:59] EleanorRigby commented on #173
Could you try reach out to opsMan team. It is not related to CPI. vSphere
CPI does not have any concept of verifiers.

More on verifiers:
https://docs.pivotal.io/pivotalcf/2-3/customizing/granular-verifier-control.html

On Tue, Nov 20, 2018, 2:03 AM agiorgi <notifications@github.com wrote:

[2018-11-20 21:35] cunnie commented on #22
This may be related to user permissions (i.e. logging in *not* as `administrator@vsphere.local`).

[2018-11-20 21:50] EleanorRigby commented on #22
@cunnie : Did you come across this issue recently? Which vCenter and which CPI version?

[2018-11-23 16:35] thelangley opened #174 "Datastore usage appears unbalanced after recent upgrades"
**The (potential) Bug**
We've recently moved to vsphere-cpi v51.0.2 from v50 and upgraded our vCenters to 6.5 u2c

We're finding that when a new stemcell is being deployed, it has a tendency to have a "favourite" Datastore so much so that it tries to almost fill it to 100%, even if loads of the others have a fair amount free.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure you

[2018-11-23 17:48] EleanorRigby commented on #174
Thanks for bringing this issue to the notice.

I am going to run an experiment to reproduce this issue and root cause it.

I need few more details about the bug. How big is your deployment and how
many instances are part of this instance group? Also, what is the size of
ephemeral disk for these instances?

Tushar

On Fri, Nov 23, 2018, 8:35 AM thelangley <notifications@github.com wrote:

[2018-11-25 17:17] EleanorRigby commented on #174
Can you also attach complete CPI log?  Did you prune any lines from previous log snippet you shared?

[2018-11-25 20:51] EleanorRigby commented on #174
I have identified the potential bug and will be working on a patch to correct that.

[2018-11-27 13:32] thelangley commented on #174
Thanks for such a quick turnaround. We've deployed using the latest v51.0.3 bosh release and recreated some of our deployments. It's rebalanced the VMs in a much more sensible way.

Thank again!

[2018-11-27 13:32] #174 closed

[2018-11-27 15:50] EleanorRigby commented on #174
@thelangley : You're welcome. The new release is 51.0.4

51.0.3 still has that skew. It might have re balanced because enough space might not have been there on filled datastore. I would encourage you to use [`51.0.4`](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/releases/tag/v51.0.4)

[2018-11-27 16:13] thelangley commented on #174
apologies, i mistyped. indeed i meant v51.04

[2018-11-28 06:34] nehagjain15 commented on #163
@generalinterest  this has been fixed in v50.0.3. Please try that.

[2018-12-07 20:19] nehagjain15 commented on #165
@BrianRagazzi @xyloman  6.5 U2d is GA now which has the fix for this

[2018-12-12 21:37] xetamus opened #181 "cpi deletes ip from NSX LB Pool even if it didn't add it"
**Describe the bug**
When configuring a bosh director on vSphere with NSX-T, if IPs are manually added to a load balancer pool and then the vm is deleted by the bosh director, the IP for that instance will be removed from the NSX-T Load Balancer Server Pool. The CPI should only remove IPs from Server Pools that are defined via `cloud_properties`.

**To Reproduce**
1. Add IPs of any bosh managed VM

[2018-12-12 23:57] nehagjain15 commented on #181
@xetamus When we added the feature for NSX-T Load balancer, CPI started maintaining the lifecycle of ServerPools for VM's created by CPI. I think ServerPools cannot be tagged so there is no way for CPI to find out if the entry for VM's IP was added by BOSH/externally. We will look into if we can use display_name property of PoolMember to differentiate this

[2018-12-17 16:02] pivotal-ben-chacko opened #182 "Delete VM "A specified parameter is not correct.'' in ''delete_vm'' CPI method"
**Describe the bug**
While upgrading healthwatch, BOSH failed to delete a VM. In VMware, the log show an initial message of "Another task is already running" followed by several messages saying that the parameter is incorrect.

**CPI Error Log**
[task-93363-cpi.txt](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/2681615/task-93363-cpi.txt)

**Expected behavior**
Apply changes shoul

[2018-12-17 19:39] markstokan opened #183 "`vcenter_ip` bosh director variable confusingly named"
## Feature Request

### Detailed Description
the `vcenter_ip` variable will accept a DNS hostname, which seems like a more robust solution than hardcoding an ip address for the VCSA appliance.  Neither the variable name or the documentation mention this.

https://bosh.io/docs/init-vsphere/
[code]

### Context
CF Toolsmiths recently had to reconfigure the ip address on a VCSA appliance and multiple

[2018-12-18 17:55] EleanorRigby commented on #181
@xetamus @nehagjain15 : Just to correct above statement , CPI maintains *lifecycle of VM's membership in a Server Pool*.  Server Pool itself is expected to be present and is not cleaned up by CPI.

[2018-12-21 09:45] Nilesh7756 commented on #181
We are facing this same issue on PAS + NSX-T setup, here NSX-T LB Members are getting deleted for NSX-T LB Member pool.

Below are observations on this issue:

We have manually configured NSX-T LB with 3 Static Server Pool Members of  GO-ROUTER IP as a backend server.

**Scenario 1**: When update-resurrection ON
- We are disconnecting Network card from VC for one of GO-ROUTER IP.
- BOSH cloud heal

[2018-12-21 18:12] EleanorRigby commented on #181
@Nilesh7756
I and @xetamus discussed this on slack. I will share our discussion here

 This IP is also allocated by BOSH from the network range specified in cloud config like this below
[code]

[2018-12-21 18:14] EleanorRigby commented on #181
Also @Nilesh7756 , can you provide right CPI version above. The version provided by you above is for `Director` not for the `CPI`.

[2018-12-21 18:45] Nilesh7756 commented on #181
Yes, sure!! Correct CPI version: `bosh-vsphere-cpi 50`

What you explained over here make sense to me, regarding legal BOSH workflow.
But the deletion of NSX-T Pool members from Server Pool by CPI, here creating the major issue in ENV.

[2018-12-21 20:09] EleanorRigby commented on #181
@Nilesh7756 : Thanks for the logs and input. We  will think about some solution when we work on this story. *However, seems unlikely CPI can do anything about it.*

I would suggest using cloud properties to attach the VM's IP to server pool rather than doing it manually. That way when you re create it will re add.

[2019-01-03 14:21] agregory999 opened #185 "Unknown CPI error 'Unknown' with message 'Unable to communicate with the remote host, since it is disconnected.' in 'create_vm' CPI method"
**Describe the bug**
When an ESXi host is in a non-expected state, but not maintenance mode or disconnected, BOSH seems to try to place VMs there.  In this instance it was a smoke test VM, but we were unable to create the VM on multiple consecutive attempts even though there were other operational hosts in the AZ that was specified. BOSH was unable to select a different host.

**To Reproduce**
Ste

[2019-01-03 18:49] EleanorRigby commented on #185
Can you provide correct CPI version? The above is only Director version.
If you are using opsMan , you can find CPI version in opsman release notes.

[2019-01-03 18:50] EleanorRigby commented on #185
Also the CPI log above is impossible to read in current form. The copy and paste might have deleted new line characters. Is it possible for you to paste it again maintaining the line breaks.

[2019-01-03 18:59] EleanorRigby commented on #185
On a cursory glance , it seems DRS is selecting a wrong host to put VM on. vSphere CPI only selects a datastore and a cluster. Cluster from the BOSH Director's chosen AZ and datastore from `persistent_datastore_pattern` and `ephemeral_pattern` (global config) or from `vm_type` in cloud config.

Could you provide more information on
  - How AZ's look and what clusters they are made up from?
  - Is

[2019-01-03 19:03] EleanorRigby commented on #185
@agregory999 , see above ^^

[2019-01-03 22:09] agregory999 commented on #185
Couple updates and comments:
1) Earlier today they put the host into maintenance mode (actually to have HW team look at it), and immediately things work again, smoke test/new VM, etc.
2) The cluster has 5 hosts, the other 4 were fine. 3 AZs with the same, and PCF spread across all.
3) If BOSH and OpsMan aren't specifying host, I agree with you that DRS seems like it.  Perhaps it doesn't recognize

[2019-01-10 22:27] #166 closed, assigned to nobody

[2019-01-15 16:18] DaxterM opened #188 "Documentation for workload placement when using multiple clusters on 1 AZ"
As a vsphere CPI bosh user I'd like to understand how the VM placement algorithm works when a single AZ has multiple vsphere clusters. Currently you would have to read the code to understand it.

[2019-01-16 02:31] #163 closed

[2019-01-16 02:32] EleanorRigby commented on #163
Feel free to open this if v50.0.3 does not address your concern.

[2019-01-16 02:38] EleanorRigby commented on #182
looks like the error is coming while detaching persistent disks from the VM. Does this error still persist?

[2019-01-16 15:35] pivotal-ben-chacko commented on #182
Customer who encountered this issue has not had a chance to run the deployment since, but would like to avoid it happening in the future.

[2019-01-17 01:11] nehagjain15 commented on #165
@BrianRagazzi Closing this. If you see this issue again feel free to open a new one.

[2019-01-17 01:11] #165 closed

[2019-01-17 14:51] BrianRagazzi commented on #165
Thank you.  The issue is resolved when using vSphere 6.7 U1

[2019-01-17 19:42] EleanorRigby commented on #30
@eamonryan : Can you provide me with some code sample or blog which talks about this improvement?

This is definitely something which I also believe will benefit users and also will help developers to get rid of any operations to do with ESXi hosts. Ideally, I would also like CPI to never get down into host world.

[2019-01-17 19:56] eamonryan commented on #30
@EleanorRigby I don't have something to link, I was mainly referencing @svrc-pivotal 's earlier comment that the behaviour using `govc` appears to have changed in some combination of `govc` and some vCenter version.

I looked back over the last couple vCenter release notes and did not see any change mentioned that would indicate that OVF/OVA uploads are now going via vCenter, so it's possible it i

[2019-01-24 22:18] zopar commented on #30
I would like to contribute to this discussion
Ansible seems to use vcenter for uploading

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_deploy_ovf.py

https://docs.ansible.com/ansible/latest/modules/vmware_deploy_ovf_module.html

I would like also to add that the file_provider.rb in some cases does not rescue correctly for that does not try to use the vcente

[2019-01-24 23:11] EleanorRigby commented on #30
@zopar :  I think you are mixing two concepts here 1. uploading ovf  2. uploading agent files

For uploading ovf where you get this error it only uses `upload_file_to_url` in `file_provider.rb` . This method has nothing to do with vCenter rescue.

The above python file in Ansible has https://github.com/ansible/ansible/blob/4732728e40beaff2338d0bdb9c01e9662d59f063/lib/ansible/modules/cloud/vmware/v

[2019-01-25 08:58] zopar commented on #30
You are right my mistake.
So we should use a template but in any case you need to upload the ova the first time with the same technique...

[2019-02-11 23:27] EleanorRigby commented on #11
Working on a support for specification of fully qualified names.
https://www.pivotaltracker.com/story/show/163777434

[2019-02-19 15:41] king-jam opened #193 "CFCR & RDM or local datastore pinning"
## Support Question
I'm trying to deploy CFCR to a vSphere environment. I'd like to be able to use the Kubernetes v1.13.x GA Container Storage Interface support but vSphere support is lacking so I wanted to use something like Ceph, leveraging something like Rook.io. This creates the following requirements:

1) VMs must be pinned to a specific ESXi Host (I believe this is possible via DRS rules wit

[2019-02-19 17:10] EleanorRigby commented on #193
1. VMs must be pinned to a specific ESXi Host (I believe this is possible via DRS rules with the CPI).

This is a feature already delivered. It is pushed to the master #177  .  Yet to cut a release.

2. VMs must (should really) use local storage from the ESXi host

One way is to create VSAN datastore from all local ESXi storage and use that. The `vm_type` field in BOSH manifest can be used to spec

[2019-02-19 17:11] EleanorRigby commented on #193
Feel free to re-open the issue if you have more questions.

[2019-02-19 17:11] #193 closed

[2019-03-05 20:02] EleanorRigby commented on #182
Closing because of insufficient evidence/re-runs to verify and reproduce the issue.

Feel free to open this in future.

[2019-03-05 20:02] #182 closed

[2019-03-05 23:14] #11 closed

[2019-03-06 11:07] gberche-orange commented on #188
@DaxterM https://bosh.io/docs/vsphere-cpi/#clusters mentions the following

Locality¶

From your reading of the code, what part of the placement algorithm would need refinement in the documentation ?

[2019-03-14 21:47] MatthiasWinzeler opened #199 "nsx-t integration does not do paging when retrieving objects"
**Describe the bug**
We're starting to use the NSX-T integration to add VMs to nsgroups.
It looks to us as if the `nsxt_provider` is not properly retrieving all nsgroups in a paginated way, but instead only retrieves the first 50 objects: https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/52.x/src/vsphere_cpi/lib/cloud/vsphere/nsxt_provider.rb#L138

This leads to `NSGroups [<my-nsgroup>

[2019-03-24 19:43] mxplusb opened #200 "Support for VM Storage Policies"
## Feature Request

### Detailed Description

For vSAN clusters with <3 fault domains, in order to deploy a virtual machine, you have to set a VM Storage Policy that allows for <3 fault domains, i.e., no data redundancy. Without support for custom VM Storage Policies, BOSH cannot deploy a virtual machine backed by a vSAN with <3 fault domains.

### Context

The vSphere Storage Provider for k8s sup

[2019-03-25 17:42] EleanorRigby commented on #200
Hello @mxplusb

We are in the process of introducing SPBM. https://github.com/cloudfoundry/bosh-vsphere-cpi-release/pull/178

[2019-03-25 17:54] mxplusb commented on #200
Oh, well that's nifty! Thanks!

[2019-03-26 19:26] MatthiasWinzeler commented on #199
FYI, for now we're tracking a fork containing the most important fixes: https://github.com/cloudfoundry/bosh-vsphere-cpi-release/compare/master...swisscom:add-paging-for-nsx-t-nsgroups

[2019-03-26 19:29] #164 closed

[2019-03-26 19:32] EleanorRigby commented on #199
Thanks Matthias for bringing this to our attention. We have added the bug to our tracker and will be working on it as soon as we finish current line of work.

Feel free to submit a Pull Request. That will definitely help us merge it to Master faster.

[2019-04-01 17:24] daniellavoie opened #203 "CPI vSphere extension does not support self signed certificates from vCenter"
**Describe the bug**
The vsphere CPI installs the `sddc.cpi.extension` during stemcell creation. I've been told that this  extension is used to warn vpshere operators that Bosh manages the clusters.

vSphere operators still need to rotate certificates with self sign on the center hosts using this [procedure](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.psc.doc/GUID-41B3B37E-5C48-4333-B

[2019-04-02 17:14] EleanorRigby commented on #203
@daniellavoie : I have not seen such an issue before. Maybe nobody attempted cert rotation until now.

1. This extension is used to register VMs created by BOSH and only serves a cosmetic purpose of throwing warnings when anyone tries to perform manual power offs and other operation on these VMs.
2. It cannot be deleted once it is put in.
3. I am not sure how to support self signed cert for extens

[2019-04-02 17:31] daniellavoie commented on #203
Attributes were folded indeed. What is sure is that we have a missing `endpoint0.ssltrust0` on the CPI extension attribute that we get on vmware's other extensions. Is there any workaround you could suggest?

[2019-04-02 19:27] EleanorRigby commented on #203
Okay, good to know.

There is currently no straight way to resolve this. One solution I can think off is
 1. Remove the extension through API call to VC
 2. then revoke permission on CPI user to create an extension, the `Register_Extension` method in CPI will fail silently without registering the extension.

On the solution part for this problem:
I do not see any field while registering an extensi

[2019-04-02 23:49] EleanorRigby commented on #203
@daniellavoie : Does this KB look like something that could be the issue here : https://kb.vmware.com/s/article/2121701

[2019-04-03 00:42] EleanorRigby commented on #203
As per some research I did just now, there is no way of configuring endpoints for the type of `extension` *cpi* registered.
Below are two extensions I configured using `ExtensionServerInfo` option I talked about in above comment. They don't have endpoint still. I suspect this to be a bug in VMware's cert rotate tool. Can you verify this with vSphere support team at customer site?
[code]

[2019-04-03 20:05] daniellavoie commented on #203
Wow! That is a very thorough analysis! Thanks @EleanorRigby. It does feel like the cert rotation tool should accept self signed certificate. I think the operator was trying to rotate directly from VCenter. Maybe `certificate-manager` handles the self signed use case. I'll do a bit more of research on that end and probable re-engage VMware support.

I'm closing this issue for now.

[2019-04-03 20:05] #203 closed

[2019-04-03 20:29] EleanorRigby commented on #200
Closing this s SPBM is merged to master and is due to be released. Feel free to open again if there are bugs or expected features are missing.

[2019-04-03 20:29] #200 closed

[2019-04-03 20:30] EleanorRigby commented on #188
@DaxterM  : Closing this issue as documentation already exists.

[2019-04-03 20:30] #188 closed

[2019-04-03 20:33] EleanorRigby commented on #181
Closing the issue for lack of sufficient knowledge and evidence to prove that the observed behaviour is a bug.

Feel free to open this with more information.

[2019-04-03 20:33] #181 closed

[2019-04-04 19:35] mxplusb commented on #200
I saw, thanks!

[2019-04-15 23:04] svrc-pivotal opened #204 "Disabling vCenter Extension requirement"
**Describe the bug**
recent CPI versions require installation of a vCenter extension.   This is cosmetic only and some environments (VMC, VCF/SDDC) can't add that permission causing BOSH failures

**To Reproduce**
Remove BOSH user permission to add vcenter extensions
At BOSH create_stemcell time, when the extension is attempted to be added, see error "Permission to perform this operation was denie

[2019-04-15 23:12] ktchen14 commented on #204
I'm not sure that the problem here is the extension. Here's the code that ends up getting called in `create_stemcell`:

[code]

The error message that we'd expect to see isn't what's showing up in the Ops Manager logs here. And also note that the extension is totally optional (we fail with an error but proceed without the extension if it can't be added).

Can we see the CPI logs for this task?

If

[2019-04-15 23:34] nehagjain15 commented on #204
@svrc-pivotal As Kaiting pointed out that this feature was built to be optional. Can you share detailed cpi logs. Also, how do you know that 'Permission to perform this operation was denied' error was raised when extension was being registered?

[2019-04-16 00:57] svrc-pivotal commented on #204
I'll dig further and get back to you.

[2019-04-16 16:29] svrc-pivotal commented on #204
Apologies for the false alarm!   This was VMC folder permission related.

[2019-04-16 16:29] #204 closed

[2019-04-20 18:38] kumarganesh2814 commented on #13
@cppforlife Hey
I am getting this error same. Please let us know what needed to be updated here.

[code]

[2019-04-20 18:44] kumarganesh2814 opened #206 "'Failed to add VM to Security Group with unknown NSX error"
## Support Question

---
Hi Team,

We are seeing below error into our cloud foundry environment lately.

``director
director - error during update deployment
Severity: 3
Summary: Error during update deployment for 'bosh-health-check' against Director 'b8aa6825-3293-4619-b000-083f05bc93d1': #<Bosh::Clouds::ExternalCpi::UnknownError: Unknown CPI error 'Unknown' with message 'Failed to add VM to Secu

[2019-04-20 18:50] kumarganesh2814 commented on #206
Env Info:

[code]

[2019-04-20 21:56] nehagjain15 commented on #206
@kumarganesh2814 Are you using NSX-V or NSX-T?  Which version of CPI are you using and which version of NSX-V/NSX-T ?

Can you check in your cloud config that you dont have duplicate security-groups defined for the same

[2019-04-21 01:08] EleanorRigby commented on #206
Did you recently upgrade NSXV manager? The similar was fixed in last CPI
patch release.

Tushar

On Sun, Apr 21, 2019, 3:26 AM Neha Jain <notifications@github.com> wrote:

[2019-04-22 06:23] kumarganesh2814 commented on #206
@nehagjain15 @EleanorRigby
You are absolutely right we did NSX Manager Upgrade recently.  We are using NSX-V.

Best Regards
Ganesh Kumar

[2019-04-22 17:22] nehagjain15 commented on #206
@kumarganesh2814 please use 1 of the CPI releases where support for `NSX-V Manager 6.4.2` was added. I will close the bug and you can reopen it if you see the issue after upgrading CPI

[2019-04-22 17:22] #206 closed

[2019-04-23 17:11] kumarganesh2814 commented on #206
@nehagjain15 Can you please advise to update bosh vsphere cpi without downtime please.

[2019-04-24 18:06] EleanorRigby commented on #206
@kumarganesh2814 : From the env details you shared above, it seems that you are using opsManager to work with BOSH director.
You will need to reach out someone in Pivotal support regarding the upgrade of the ops Manager version which packs the correct CPI release.

[2019-04-24 18:09] EleanorRigby commented on #206
CPI release `52.1.0` , `51.1.0` and `50.0.4` supports NSX-V 6.4.x manager. Please refer here for ops-manager release notes: https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/opsmanager-rn.html

[2019-04-25 17:51] blackramit opened #207 "Error: Unknown CPI error 'Unknown' with message 'getaddrinfo: Name or service not known (esxi_host:443)' in 'create_stemcell' CPI method"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two instances in one AZ and disk .....
2. Sections of cloud config relevant to bug reproducibility

**CPI Error Log**
Can be obtained by running `bosh <env params> task <failed-task-id> --cpi`

**Expected behavior**
A clear and concise description of what you expect

[2019-04-25 18:03] ktchen14 commented on #207
No logs or detail in this bug at all. Failure is in `getaddrinfo()` which indicates DNS lookup failure. Host name is `esxi_host` which is probably incorrect.

[2019-04-25 18:03] #207 closed

[2019-04-25 18:10] blackramit opened #208 "Error: Unknown CPI error 'Unknown' with message 'getaddrinfo: Name or service not known (esxi_host.something.com:443)' in 'create_stemcell' CPI method"
I'm having a real problem getting my initial Stemcell deployed on vCenter/vSphere 6.5u2. I have the Director setup and all seems fine. However, when I try to load my initial Stemcell, I get this error:

[code]

What is frustrating is I have followed ALL of the suggestions regarding DNS setup. My "dig" on the Bosh CLI Platform resolves fine, so DNS is working within my platform. My Cloud_Config dis

[2019-04-25 18:16] ktchen14 commented on #208
This error:

[code]

Indicates a problem in hostname resolution. If it's in `create_stemcell` then my guess is that when the BOSH director (or more specifically the CPI) attempts to upload the stemcell OVA to one of the datastores through an ESXi host, it's failing to resolve the DNS name of that host.

It says from that error message that the DNS name of your ESXi host is `esxi_host`. Is that cor

[2019-04-25 18:18] EleanorRigby commented on #208
Similar issue : https://github.com/cloudfoundry/bosh-vsphere-cpi-release/issues/30

[2019-04-25 18:19] blackramit commented on #208
The Host name in the error message is accurate, let's call it "esxi-host.something.com".  I can "dig" it on the Bosh CLI Platform fine.  So you are saying that the Director VM on my vCenter Cluster is what is having the issue?

[2019-04-25 18:20] blackramit commented on #208
I looked at that #30 issue and it didn't get me anywhere.

[2019-04-25 18:20] ktchen14 commented on #208
@blackramit Sorry is the ESXi hostname `esxi-host` or `esxi_host`? Also can you provide more details about the BOSH CLI platform? I'm not quite sure what that is.

[2019-04-25 18:29] blackramit commented on #208
Hi Ktchen... I have a linux Jumpbox call that the Bosh CLI is deployed on.  That box can resolve the name of my vCenter Appliance and each of my ESXi Hosts just fine.  I have deployed the Director/CPI VM on this platform fine.  So I am set to go.

I tried to deploy my first deployment Stemcell (OVF) from the https://bosh.io/stemcells/ site, but it has failed.  I tried direct from the site using th

[2019-04-25 18:34] ktchen14 commented on #208
@blackramit Okay then the problem is almost definitely in the DNS resolution process from the BOSH director VM itself.

There are two steps to uploading an OVA:

1. The vSphere CPI on the BOSH director contacts vCenter and requests a ticket to upload the OVA
2. The vSphere CPI on the BOSH director extracts the hostname of the ESXi host from the ticket and issues a POST request directly to that hos

[2019-04-25 18:37] blackramit commented on #208
Got it, let me dig into that and I will reply back.  Thanks Ktchen!

[2019-04-25 19:07] blackramit commented on #208
Well dang, that isn't it... both my host are setup with the proper DNS settings.

![image](https://user-images.githubusercontent.com/41175867/56761645-198f0900-675b-11e9-8f3c-34a355364a17.png)

[2019-04-25 19:15] EleanorRigby commented on #208
@blackramit : It is most likely a DNS issue. Can you check DNS server entry in `bosh.yml`? Refer to this comment: https://github.com/cloudfoundry/bosh-vsphere-cpi-release/issues/30#issuecomment-317828501

[2019-04-25 19:40] blackramit commented on #208
I have this in bosh.yml

_networks:
- name: default
  subnets:
  - dns:
    - 8.8.8.8
    gateway: ((internal_gw))
    range: ((internal_cidr))
    static:
    - ((internal_ip))
  type: manual_

I changed it to:

_networks:
- name: default
  subnets:
  - dns:
    - 192.168.10.20
    gateway: ((internal_gw))
    range: ((internal_cidr))
    static:
    - ((internal_ip))
  type: manual_

But i get t

[2019-04-25 19:43] blackramit commented on #208
Do I have to redeploy the Director Ktchen after changing the bosh.yml?

[2019-04-25 20:15] blackramit commented on #208
ALRIGHT!!!  I redeployed Bosh Director after changing the settings in bosh.yml and everything works!

So, to recap;

1. The ESXi Hosts need to have the DNS setup properly in their physical network config.
2. Cloud-Config needs to have the DNS set properly.
3. And bosh.yml needs to have the DNS setup properly before you deploy the Director.

Just for clarity, has the setup in the Manifest using "-o

[2019-04-26 03:25] blackramit commented on #208
Guys, just to close out this issue; is this necessary in the setup manifest?

Do we need to be using "-o bosh-deployment/local-dns.yml" and "-v internal_dns=[xxx.xxx.xxx.xxx]"?  Has this been deprecated, or is it still valid to have included?  It didn't seem to do anything in my case and I noticed that the local-dns.yml says it is for legacy support.

[2019-04-26 11:02] kumarganesh2814 commented on #206
Thanks @EleanorRigby Tushar and @nehagjain15  Neha. We will do PCF Ops Manager Upgrade and then NSX.

[2019-04-26 16:21] EleanorRigby commented on #208
`-o` option is to apply any additional ops file you have. `-v` is for any variable that you want to substitute with a value once all ops files have been applied. The ops file can be overridden by other subsequent opsfile and might also not work in certain cases. It is difficult for us to comment why the local dns value did not get picked up.

The question related to BOSH and its DNS will be better

[2019-04-26 16:21] #208 closed

[2019-04-26 16:21] EleanorRigby commented on #208
Feel free to open the issue if you have more questions.

[2019-04-29 11:17] robbo10 commented on #66
Hi - is there any update on this story?

https://www.pivotaltracker.com/story/show/156671737

We would like to set this at the global level.

[2019-04-29 17:35] EleanorRigby commented on #66
Hi

The story is delivered. Please check
https://bosh.io/docs/vsphere-cpi/#global for the global configuration
option to upgrade the hardware version. And there is a cloud config level
option also available which overrides global config.

Best
Tushar

On Mon, Apr 29, 2019 at 4:17 AM robbo10 <notifications@github.com> wrote:

[2019-05-10 05:54] mxplusb opened #209 "version bump?"
There's been a bunch of work done since v52, including the support for the custom storage policy support. Can there be a version bump to start consuming and testing some of the new storage policy bits?

[2019-05-14 12:22] cunnie commented on #153
I'm closing this issue because there's a workaround.

[2019-05-14 12:22] #153 closed

[2019-05-14 12:50] cunnie commented on #153
Addendum: a similar error may show up with an IPv4 Director and a dual-stack ESXi host:
[code]
When this happens, make sure that the BOSH Director can reach the ESXi host over the IPv4 network (i.e. that there's no firewall rule blocking it). In my case, I had a firewall rule blocking the Director's subnet (10.2.0.0/24) from reaching the vSphere subnet (10.0.9.0/24) with exceptions for the Directo

[2019-05-14 14:39] cunnie commented on #22
@EleanorRigby — I haven't run across this issue in 2 years.

[2019-05-14 15:03] scottillogical opened #210 "Require/remove defaults for vm_folder, disk_path, and template_folder"
### Detailed Description
In the docs, https://bosh.io/docs/vsphere-cpi/  it specifies vm_folder and vm_disks and template folder as required

However in the release
https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/5deb5d3ca86be622befd6cd1078c2758eb9f46ce/jobs/vsphere_cpi/templates/cpi.json.erb#L45 these values have defaults specified
[code]
I think it the bosh init should error if the

[2019-05-14 17:00] EleanorRigby commented on #210
@scottillogical: Thanks for bringing this to our attention. I am not sure if we are going to remove defaults as it will be breaking change for users relying on it.

We will probably update the documentation to reflect the defaults.

[2019-05-14 17:02] EleanorRigby commented on #209
Hi @mxplusb, we are working on it. There are issues with SPBM and persistent disk , sans FCD support.

[2019-05-17 13:16] kumarganesh2814 commented on #206
@EleanorRigby Tushar and @nehagjain15 Neha
We see this issue on existing infra too now.
Created Pivotal Case too for same
https://community.pivotal.io/s/case/5000e00001Zz4ekAAB/urgent-prod-failure-for-pcf-unknown-cpi-error-unknown-with-message-failed-to-add-vm-to-security-group-with-unknown-nsx-error

NSX Version:
6.3.3 Build 7087283
Uptime:
422 days, 14 hours, 35 minutes
vSphere:
vCenter: 6.5.0 5

[2019-05-23 21:02] EleanorRigby opened #213 "File Transfer via host is not falling back to vCenter."
**Describe the bug**
While uploading agent files to Datastore for a VM's CDROM, the CPI code crashes with execution expired message.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Uploading file through file_provider.rb and snap the ESXi connection
2. If it was uploading through host it does not recover.

**CPI Error Log**
[code]

**Expected behavior**
A clear and concise description

[2019-05-31 15:20] mxplusb commented on #209
Hi @EleanorRigby, just wanted to touch base on this topic for a status update. :)

[2019-05-31 16:38] EleanorRigby commented on #209
Hi Mike

We are still testing and merging two PR before we cut another release.

The PR in question are human readable names and ability to tag a VM

Tushar

On Fri, May 31, 2019, 8:20 AM Mike Lloyd <notifications@github.com> wrote:

[2019-05-31 19:06] mxplusb commented on #209
Thanks!

[2019-06-06 00:05] thorsten-avaya opened #215 "Feature Request: add new drs_rule/type=vm_to_hosts"
Hello,

Feature Request: add new drs_rule/type=vm_to_hosts

I have a use case where I want to deploy VMs onto different hosts.

I've been using the following cloud configuration to achieve this:
`azs:
- cloud_properties:
    datacenters:
    - clusters:
      - HACluster:
          drs_rules:
          - name: separate-vms-rule
            type: separate_vms
          resource_pool: Resources
  na

[2019-06-06 00:21] EleanorRigby commented on #215
Thanks for submitting the PR. We will add this to our feature tracker.

[2019-06-06 16:29] thorsten-avaya commented on #215
Looking at this more, it doesn't look like "Virtual Machines to Hosts" will do the trick.
That option only specifies which hosts VMs may run on or not run on.  See:
 https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.resmgmt.doc/GUID-0591F865-91B5-4311-ABA6-84FBA5AAFB59.html

Tushar mentioned that 'drs_rules/type=separate_vms' is "optional".  I am not exactly sure what that means, bu

[2019-06-07 17:11] thorsten-avaya commented on #215
Tushar Aggarwal asked me to add some information about my observations:

I request 6 VMs to be created with drs_rules/type separate_vms; there are 5 hosts in the cluster.
Expected behavior: 5 VMs are powered on.
Actual behavior: 6 VMs are powered on.

The last logs I see in Bosh before failing:
`[13067 85312 :001669: ftc   06/06/2019 13:58:02 -0600 INFO    ] STDOUT - ------------------------------

[2019-06-14 04:43] Nilesh7756 opened #218 "Error: Unknown CPI error 'Unknown' with message 'Multiple NSX-T virtual machines found. (2)' in 'set_vm_metadata' CPI method (CPI request ID: 'cpi-801732')"
**Describe the bug**

Recently we found a problem when setting up a scale-out PCF environment with 100 cell VMs, but it failed with the following error:
Task 3094 | 05:08:02 | Creating missing vms: diego_cell/a0d9cf98-2b15-4d90-b393-48c384e8df32 (63) (00:01:27)
                     L Error: Unknown CPI error 'Unknown' with message 'Multiple NSX-T virtual machines (vm-af297e1b-a651-4f4b-8250-80fa11

[2019-06-18 16:53] #218 closed

[2019-06-19 11:07] damzog opened #220 "Feature enable_auto_anti_affinity_drs_rules can't handle long deployment names"
**Describe the bug**
After setting enable_auto_anti_affinity_drs_rules to true deployments with a name exceeding a certain length will fail with:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. setting enable_auto_anti_affinity_drs_rules to true
2. Create a deployment including some packages to compile. Set the name to <some name probably longer than 30 charactes depending on your dir

[2019-06-19 16:48] ktchen14 commented on #220
I don't think that there's anything we can do about this. If we choose to trim the name we lose a guarantee of uniqueness for the created DRS anti affinity rule. As such in this instance we recommend that the user choose a shorter name for their deployment and/or instance group.

[2019-06-19 18:11] EleanorRigby commented on #199
@neilcx : The bug details

[2019-06-24 07:22] damzog commented on #220
Thanks for the answer ktchen14. I agree there seems to be no trivial way to solve this defect.

However imho at least error handling should be improved to check name length before sending  a create vm request to vcenter and give a proper error message. Also this kind of constraints should be mentioned in the documentation alongside with e.g. no of vms must not exceed no host in the target cluster.

[2019-06-25 09:04] damzog commented on #220
@ktchen14 would you mind to comment?

[2019-06-28 17:12] dennisjbell commented on #127
The README still says Native Disk Resize is Not Supported.  Are there further issues that are preventing this from being supported, or was that just missed?

[2019-07-01 18:25] akamitmishra opened #223 "The separate VM rule should is a `SHOULD` vs `MUST` DRS rule needs to change"
**Describe the bug**
We are using Bosh to deploy 6 VMs into a cluster with 5 hosts. Bosh has been configured to create these 6 VMs with ‘Separate Virtual Machines’ anti-affinity.
when looking at the VCenter GUI, I see that all 6 VMs are powered on, and 2 VMs are running on the same host.

**To Reproduce**
Steps to reproduce the behavior:
1.We are using Bosh to deploy 6 VMs into a cluster with 5 ho

[2019-07-01 18:30] EleanorRigby commented on #223
Please attach complete CPI logs and various product versions that you are using.

[2019-07-01 18:32] EleanorRigby commented on #223
[code]
This cannot happen as the DRS rule is prescriptive and not binding.

Looks like : *Feature Change to make DRS rule mandatory*

[2019-07-01 18:35] EleanorRigby commented on #223
The error and description are confusing. The description says that 6 VMs were created. While the error says "Not able to Power On VM for lack of hosts". Can you explain the scenario a bit more?

[2019-07-01 20:38] amishra1982 commented on #223
bosh release 270.1.1
vsphere-cpi 52
and we are not using opsman

The error says that "Not able to Power On VM for lack of hosts" but the VMs still get created. Yep - same issue that @thorsten-avaya  was seeing

[cc.txt](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/3347247/cc.txt)
[tasks.txt](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/3347248/tasks.txt)

[2019-07-02 22:06] agregory999 opened #224 "NSX 6.4.5 -> Failed to create Security Group with unknown NSX Error: '{"errorCode":210,"details":"Another object with same name : p-bosh already exists in the current scope : globalroot-0.","rootCauseString":null,"moduleName":"core-services","errorData":null}'"
**Describe the bug**
After upgrading NSX-V to 6.4.5 we cannot add VMs to the foundation.  We get the 210 error raised and cannot proceed.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade NSX-V to 6.4.5
2. Modify PAS to add VMs to any component
3. Apply change and look at CPI logs

**CPI Error Log**
/var/vcap/data/packages/vsphere_cpi/ae7eb89db6e1d4d47b4c68b759eae13f31620669/lib/ruby_v

[2019-07-03 20:53] EleanorRigby commented on #224
As per the latest verification, CPI works with NSX-V 6.4.4 well. `6.4.4` can be used in the meantime.

[2019-07-05 13:49] sroot1986 opened #225 "Setting Vcenter Storage policy for additional Disks"
## Feature Request

### Detailed Description
We are deploying Bosh to VSan currently. And we a default storage policy for our VSan cluster, and also a default policy for the VSan datastore overall. When we deploy to the cluster our bosh vms pick up the storage policy for the cluster as expected but additional data disks that we add only pick up the overall default policy.

Using vsphere cpi v53 we

[2019-07-08 16:29] #199 closed

[2019-07-08 16:33] EleanorRigby commented on #209
Release has been cut.

[2019-07-08 16:33] #209 closed

[2019-07-08 16:39] EleanorRigby commented on #133
CPI's limitation is that there are no pre and post-deployment RPC calls. Since each CPI call is a separate process, CPI has no way to know when a deployment is getting created and when it is getting deleted.
As a consequence, CPI can create folders but will not be able to delete them. Several of such folder may pile up during several different deployments for PAS or PKS.

One way is to create and

[2019-07-08 16:39] #133 closed

[2019-07-08 16:42] EleanorRigby commented on #34
The document shared above provides a complete set of permissions. It also does away with most of the permissions at the Datacenter and global level.

Feel free to open the issue if the document is unsatisfactory.

[2019-07-08 16:42] #34 closed

[2019-07-09 21:09] EleanorRigby commented on #220
@damzog: Thanks for suggesting some solutions.

1. We will work on better error handling.

2. Using vm-name is not possible at all because of the way CPI and BOSH interact.

3. Using an 80 character hash over the calculated name is an option given uniqueness constraints and constraints described below are not violated.

4.
The way naming works currently is by using this string `<director-name>-<de

[2019-07-09 21:14] EleanorRigby commented on #220
Another issue with 80 char HASH is losing readability of what rule belongs to what deployment and instance group.

We just introduced human-readable names for VMs in `v53`. Going back to HASH<ed> names, though only for rules will be kind of going backward.

Some of the functions introduced to create unique 80 char human-readable names can be reused to create shortened names for rules too.

[2019-07-12 07:56] gthomson31 opened #227 "A general system error occurred: Connection refused","ok_to_retry""
## Support Question
Hi there

I have been trying to upgrade one of our bosh directors to the newest release and get the following error on deploying.

The VM initially shows up in vcentre then  is deleted after the error occurs and the deployment fails.

bosh create-env bosh.yml \
    --state ${WORKDIR}/bosh-state.json \
    --vars-file=${WORKDIR}/params-bosh.yml \
    --vars-store=${WORKDIR}/bosh

[2019-07-12 17:18] EleanorRigby commented on #227
Did you try searching for this error on Google? Looks like a VC issue.

Is this error consistent? Did you retry?

We will need complete CPI logs to be able to debug.

Can you run create-env with `BOSH_LOG_LEVEL=debug bosh create-env ... `. Then share all the logs printed on the screen. You can choose to redact IP and passwords before sharing. I need the CPI's create_vm call bit from that log.

[2019-07-15 17:36] sabrinalo opened #228 "Error: Unknown CPI error 'Unknown' with message 'undefined method `config_spec' for nil:NilClass' in 'create_stemcell' CPI method"
**Describe the bug**
trying to upgrade windows 2016 stemcell from 1803.10 to 1803.12 and when uploading the stemcell through opsmanager and bosh i get this error.
Error: Unknown CPI error 'Unknown' with message 'undefined method `config_spec' for nil:NilClass' in 'create_stemcell' CPI method (CPI request ID:'cpi-826236')
Task 270557 | 17:08:26 | Error: Unknown CPI error 'Unknown' with message 'und

[2019-07-15 17:52] ktchen14 commented on #228
Looks like our `import_ovf` failed and returned `nil`. This is likely coming from the `CreateImportSpec` call to `OvfManager`. However I don't see an error returned from vSphere.

I also noticed that this is from vSphere 5.5. This version of vSphere is no longer supported by the BOSH vSphere CPI. See:

https://kb.vmware.com/s/article/51491

[2019-07-15 18:37] EleanorRigby commented on #228
@ktchen14 : To add on to your observation,  the `CreateImportSpec` also returns an `error`

[code]
@sabrinalo
This is something we can handle in our CPI code. It will not solve the underlying problem but will raise better error messages potentially.

As Kaiting noted the 5.5 support has been deprecated for CPI. Please try with a newer version

[2019-07-15 23:24] ysharma-dev opened #229 "bosh-vsphere-cpi doesn't let you configure GCS bucket as bosh's external blobstore"
**Describe the bug**
Configuring bosh director to use GCS bucket as its external blobstore errors out  when running a bosh deploy with the following error:
[code]
The bosh manifest pushed by the PCF Operations Manager shows this:
[code]
As you can see from the above manifest snippet, there's is no "agent.blobstore.address"

I believe vsphere cpi does not address in code what to do if GCS is config

[2019-07-15 23:30] EleanorRigby commented on #229
Thanks for submitting the bug. We will take a look and add it to our story tracker.

[2019-07-16 16:12] #228 closed

[2019-07-22 14:16] thorsten-avaya commented on #215
Hi @EleanorRigby,

Is there any activity on this issue?

Thanks,
   Thor

[2019-07-22 17:03] EleanorRigby commented on #215
@thorsten-avaya : This has not been prioritized yet due to limited developer bandwidth.
Feel free to PR your change in. We can help you test and merge the code to master

[2019-07-22 18:11] thorsten-avaya commented on #215
Thanks @EleanorRigby .  If I can find some spare time, I'd be happy to look into this.
Since I've never looked at or tested Bosh code, can you please tell me (or point to instructions) on:
1) What to check out
2) How to compile
3) How / which components to replace to test the changes (i.e., how do I test the changes)

Also, is there a design page for the Bosh VM creation and / or anti-affinity sch

[2019-08-09 15:46] swagataroy opened #232 "Creation of the bosh director in vSphere fails during PCF 2.3 -> 2.4 upgrade"
**Describe the bug**
_bosh create-env_ fails to deploy the directory with cpi error “execution expired”
There are 2 clusters in vCenter. One cluster is dedicated to PCF and another cluster is not.  Ops Manager sits behind a firewall and only has network access to ESX servers in the PCF cluster.  But when running *create_vm* the vSphere CPI is trying to communicate with a ESX server in the Non-PCF

[2019-08-20 19:07] EleanorRigby commented on #232
#233

[2019-09-05 16:07] dstoffel-de commented on #203
Hi,

I'm hitting the same issue.
Just want to add some information.

Which option to select to reproduce this issue?
Option 1 - Replace certificate machine -> import new certificate in the next screen.

Is it possible to not replace cert on particular extension?
=> i don't know but cpi is not the only one to have this kind of behaviour and vmware ask to unregister the extension before applying new

[2019-09-05 17:25] dstoffel-de commented on #203
mini howto when you have an expired certificate and connect connect to /mob anymore:

- cp  /etc/vmware-vpx/ssl/rui.crt /etc/vmware-vpx/ssl/rui.crt.bk
- cp  /etc/vmware-vpx/ssl/rui.key /etc/vmware-vpx/ssl/rui.key.bk
- cp  /etc/vmware-rhttpproxy/ssl/rui.crt /etc/vmware-rhttpproxy/ssl/rui.crt.bk
- cp  /etc/vmware-rhttpproxy/ssl/rui.key /etc/vmware-rhttpproxy/ssl/rui.key.bk
- cp mynewkey /etc/vmware-

[2019-09-25 17:52] eoghank opened #235 "vSphere CPI bundler is creating directories in Ops Man that are world writable and do not have the sticky bit set"
**Describe the bug**
When the vSphere CPI is called to deploy BOSH Director it creates folders here in Ops Man that are world writable and do not have the sticky bit set (/tmp/bundler/home). This is a concern for security teams and our stemcell hardening guides do state that we try to limit world writable directories

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Ops Man on vSphere
2.

[2019-11-06 20:08] ichandan16 opened #239 "Error "Request version 'urn:pbm/6.7' and namespace 'urn:pbm' are not supported" runnig create-env"
**Describe the bug**
Hi, I am trying to create a new bosh director on vSphere 5.5. With latest bosh-deployment repo, I am getting below error:

```2019/11/05 21:30:32 ERROR - Error getting CPI info: CPI 'info' method responded with error: CmdError{"type":"Unknown","message":"Request version 'urn:pbm/6.7' and namespace 'urn:pbm' are not supported","ok_to_retry":false} Error getting CPI info: CPI 'i

[2019-11-06 20:16] ktchen14 commented on #239
Unfortunately vSphere 5.5 is [out of general support](https://kb.vmware.com/s/article/51491). From the error itself it appears that the CPI is using an API that's only available in vSphere 6.0+. This is the expected behavior.

[2019-11-06 20:16] #239 closed

[2019-11-06 20:25] ichandan16 commented on #239
Just for the info, which [branch/tag](https://github.com/cloudfoundry/bosh-deployment) should be used if IaaS is vSphere 5.5.

Thanks,
Chandan

[2019-11-06 20:45] aeijdenberg commented on #224
This is a very high impact bug for anyone using NSX 6.4.5, as when their underlying infrastructure is updated to it, it effectively blocks their ability to deploy any new VMs using `bosh`.

In many cases it's simply not feasible to downgrade a shared platform due to one tenant having a `bosh` related error.

In case it's helpful, a workaround that seems to work is to SSH to the bosh director, then

[2019-11-06 20:50] aeijdenberg commented on #79
Perhaps the auto-creation of security groups to match the set of BOSH groups can be made configurable, and disabled by default (or at least optional to disable)? If no policies refer to them, then it's not clear why they need to be created at all.

[2019-11-06 21:54] EleanorRigby commented on #239
Try using tag `v45.1.0`

[2019-11-07 01:30] ichandan16 commented on #239
@EleanorRigby thank you! I was checking https://github.com/cloudfoundry/bosh-deployment and the vsphere/cpi.yml. None of the available tags has the v45.1.0. The oldest [tagged](https://github.com/cloudfoundry/bosh-deployment/blob/268.0.1/vsphere/cpi.yml) release for bosh-deployment is v50.0.

Thanks,
Chandan

[2019-11-07 18:26] EleanorRigby commented on #224
@aeijdenberg : The team is currently working on cutting two patch releases for other high priority issues. We will take this up in next release

[2019-11-19 16:32] combor commented on #224
Is there any update on this? We have just upgraded NSX to 6.4.5. There is no way to downgrade AFAIK.

[2019-11-19 17:27] EleanorRigby commented on #224
The teams bandwidth is occupied currently in another NSXT security group
issue and UUID based disk identification. This will be picked up after that.

On Tue, Nov 19, 2019, 8:32 AM Piotr Komborski <notifications@github.com>
wrote:

[2019-11-20 00:27] EleanorRigby commented on #224
look like NSXV has changed the response structure between `6.4.4` and `6.4.6` which is causing CPI to not detect errorCode `210`. `210` stands for the already existing security group.

[2019-11-20 11:09] combor commented on #224
Yeah, it seems that they do not return xml any more but json

[2019-11-20 16:08] thelangley commented on #224
I've written a small PR to fix. This basically follows VMware/NSX guidance around being very specific when talking to the APIs on the Content-Type and Accept.

The result is that the code gets back xml now instead of json which should be readable.

We've tested this in our env.

[2019-11-20 19:04] EleanorRigby commented on #224
@thelangley : The fix looks good to me. It works on `6.4.6` . I am thinking if this works on `6.3` or `6.2`. Do you have any idea about this? I do not want to break existing deployments.

[2019-11-20 21:13] combor commented on #224
`Accept: text/xml` header is recomeneded for 6.3 as well but we havent tested this on 6.3 yet. The plan is to do it tomorrow.

The docs say:
[code]
https://docs.vmware.com/en/VMware-NSX-Data-Center-for-vSphere/6.3/nsx_63_api.pdf page 12

[2019-11-20 21:15] combor commented on #224
Uh, I just realised that the change is wrong. IT should be `Accept: application/xml ` not Accept: text/xml`. We'll need a fix.

[2019-11-20 23:16] EleanorRigby commented on #224
@combor : We have been using `test/xml` from very old times. Maybe the docs changed but NSX-V server code supports both. I will change it to `application/xml` and push changes in a different PR.

I am also going to push some tests for the fix.

I have tested with 6.4.4 and 6.4.6 , If you can confirm about 6.3 in some time/tomorrow, I will move ahead with merging this fix and cutting patch releases

[2019-11-21 00:32] aeijdenberg commented on #224
Have you considered a simpler and less risky change:

[code]

A grep over the CPI shows this method is only ever called in this context:

[code]

so if there are any other relevant errors connecting the vSphere API, they'll be surfaced in the call to `find_security_group_id_by_name()`.

Checking for a specific error code / format is always risky - and in this case - it shouldn't matter what the re

[2019-11-21 01:15] EleanorRigby commented on #224
@aeijdenberg : I agree with second optimization of searching and then creating if needed.

However, ignoring a non-200 status code and just returning nil is problematic. The purpose is to return meaningful error on immediate failure. Later calls which fail might have different error and it might be cryptic to root cause the issue. Additionally, if a developer builds on top of this function in futu

[2019-11-21 01:26] EleanorRigby commented on #224
@combor :
[code]
https://tools.ietf.org/html/rfc7303

I have made the change anyway. but good to know.

[2019-11-21 22:18] #224 closed

[2019-12-04 19:49] labrown commented on #235
+1 for support on this issue.  Please address it as soon as possible.

[2019-12-04 20:06] ktchen14 commented on #235
I suspect that this is from these lines in `cpi.erb`:

[code]

That `export HOME=~` line looks extraneous. What's the home directory when Ops Manager is invoking the CPI to deploy the BOSH director?

[2019-12-04 22:48] labrown commented on #235
This directory also turns up on the BOSH Director as well.

[2020-01-16 16:16] svrc-pivotal commented on #223
What’s interesting in this to me is the VM/VM Anti-affinity rule is supposed to by soft - there is no way to make it mandatory.    the error from the VIM API might only be a warning.

[2020-01-16 19:41] EleanorRigby commented on #235
#245

[2020-01-16 19:41] #235 closed

[2020-01-16 19:41] EleanorRigby commented on #227
Closing due to inactivity.

[2020-01-16 19:41] #227 closed

[2020-01-23 11:12] thefluffysysop opened #247 "Issue with NSX-T certificate chain incorrectly reported as issue with vCenter certificate chain"
Issue with NSX-T certificate chain incorrectly reported as issue with vCenter certificate chain

Bosh Version: 2.7.0.10.0
vSphere CPI Version: 53.0.5
vSphere verison: 6.5
NSX-T verison: 2.4.1

Disclaimer: I am very new to Bosh. I am reporting this on behalf of myself and a far more experienced colleague.

Building up a greenfield PCF environment. We use a standalone Bosh deployment to help us boot

[2020-01-23 18:58] EleanorRigby commented on #247
Did you populate this variable in CPI config `vcenter.connection_options.ca_cert`?

[2020-01-24 15:52] thefluffysysop commented on #247
Yes, it had our vCenter self-signed cert in it

[2020-02-10 22:27] pivotal-todd-robbins opened #253 "No property exposed to tune snapshot replication timeout"
## Feature Request

### Detailed Description

There is no way to tune snapshot creation timeout. It is hardcoded. If there are VM's with large snapshots that need to be replicated across slow networks/datastores then this can lead to CPI errors:

`E, [2020-02-03T20:42:16.173402 #23088] ERROR -- [req_id cpi-101060]: Error in creating vm: The object[s] '<[Vim.VirtualMachine] vm-39068>' should have t

[2020-02-27 00:53] guillierf opened #255 "Logical Load Balancer JSON: the port should be optional"
The Logical Load Balancer field is used to specify where the different PKS instances should land in term of NSX-T LB pool members.

When a NSX-T VS is created with multiple TCP ports, the servers created in the Pool Member field MUST have an empty field for the colum "Port"

This config is not possible today with Ops Mgr 2.7 or 2.8 release.
Ops Mgr mandate that in the JSON, the port field MUST be

[2020-02-27 19:11] guillierf commented on #255
tested the CPI provided by Tushar and things work as expected:
-put a dummy Port on Ops Manager (to bypass the error message if the Port is not specified)
-the CPI created corrected the server pool members (3 in my case)

just 1 note: the server pool members were created with the IP field only. the name is empty. It may be good to fill the name field as well.

[2020-03-03 16:19] eveane opened #256 "PKS cluster creation Failed to apply NSX properties to VM 'vm-xxxxxx' with error: The object was modified by"
**Describe the bug**
cluster creation fail on one of the node where the it fail to attach the logical port :+1:
`I, [2020-02-18T20:29:07.237240 #23841]  INFO -- [req_id cpi-749191]: Failed to apply NSX properties to VM 'vm-0353af02-7815-48d8-be12-42edad9d0097' with error: The object was modified by somebody else. Please retry.`

**To Reproduce**
Steps to reproduce the behavior:
1. Have a vSphere e

[2020-03-04 11:20] JCL38-ORANGE opened #257 "check on ip conflict uses vm inventory instead of bosh provisioning"
**Describe the bug**
I observe that ip conflict detector component is based on dynamic vms inventory (call stack
vm_creator.rb -> ip_conflict_detector.rb -> vcenter_client.rb -> ruby_vim_sdk.rb).
I expect to have a ip conflict detector based on the bosh provisioning performed in vsphere.

**To Reproduce**
0. Given two networks : one private and one public
1. Create a VM with two NICs (one in a pri

[2020-03-05 00:36] EleanorRigby commented on #257
@JCL38-ORANGE :  We are looking into the issue and taking ktchen14's comment into account.

Can you also provide us some more info:
 - Are you consuming CPI via ops manager?
 - What's the full version of CPI being consumed `52.1.0` or `52.1.x`

[2020-03-05 06:09] JCL38-ORANGE commented on #257
Hello,

Thanks for your quick answer.
We are not consuming CPI via OPS Manager.
The CPI version is : 52.1.0

Best regards,
Jean-Christophe.

[2020-03-05 23:37] EleanorRigby commented on #257
Please track the progress here https://www.pivotaltracker.com/story/show/171660267

[2020-03-09 08:29] JCL38-ORANGE commented on #257
Hello,

I will get back to you with the reason.
If you deliver it in v53, do you have a schedule for that ?
Thanks and regards,
Jean-Christophe.

[2020-03-10 10:21] JCL38-ORANGE commented on #257
Hello,

We bump latest CPI release v53.0.9 in our side.
Could we expect a release in the next coming weeks based on v53 release ?
Thanks and regards,
Jean-Christophe.

[2020-03-10 14:51] ktchen14 commented on #257
@JCL38-ORANGE We can’t commit to a particular timeline for the delivery of a feature. At this time we’re still discussing what the best solution will be.

If you need this quickly you can stub out the IPConflictDetector and rebuild the CPI.

[2020-03-10 14:58] JCL38-ORANGE commented on #257
@ktchen14, thanks for your answer.
Regards,
Jean-Christophe.

[2020-03-12 12:23] dj-jadeja commented on #256
Hi Sanika,

Customer is looking for update on progress of the fix. Can you provide with some update here?

Thank you

[2020-03-12 16:46] SanikaGawhane commented on #256
This is not picked up yet and will be prioritized in coming sprints.

[2020-04-01 15:04] kumarganesh2814 commented on #224
Hi,

We are Running to similar Issue :

L Error: Unknown CPI error 'Unknown' with message 'Failed to create Security Group with unknown NSX Error: '{"errorCode":210,"details":"Another object with same name : p-bosh already exists in the current scope : globalroot-0.","rootCauseString":null,"moduleName":"core-services","errorData":null}'' in 'create_vm' CPI method (CPI request ID: 'cpi-605471')

We

[2020-04-01 19:50] EleanorRigby commented on #224
@kumarganesh2814 : We cannot fix this in v51.x CPI release family

The releases  53.0.3 and 52.1.7 have fixed this. v51 is not supported anymore. Please upgrade opsman with the above CPI releases or newer to fix the issue.

There is no way to swap in new CPI or BOSH release in existing opsman

[2020-04-02 03:09] kumarganesh2814 commented on #224
Thanks @EleanorRigby

So we are recovering from Disaster Recover and Our Current OpsManager was Running over 2.5.15.

Do you know if there would be any major impact on application by going over version 2.5.26 and above in 2.5 only.

Also do you think if we rollback our NSX version to 6.4.4 things will works same as earlier

Best Regards
Ganesh Kumar

[2020-04-14 18:20] arjunsuresh27 commented on #225
We are also seeing the same issue, in one of our use case, we need to assign storage policy other than the vsan default to the persistent disks on a Bosh vm. currently the persistent disk will only pick up vsan default storage policy for persistent disks. However, the ephemeral disks can be assigned with the non default/ user defined storage policy on vSAN. We would like to have this feature imple

[2020-05-30 09:09] mrbuk commented on #215
@EleanorRigby I see this issue is almost 1y old and don't know if this is still of interest.

Just wanted to mention that what you are asking for could be achieved using Host Groups (see https://bosh.io/docs/vsphere-cpi/)

[2020-06-03 20:52] dbarkelew commented on #247
Does the trust CA chain for the NSX-T certificate use a cross signed CA to build the trust?

[2020-06-18 10:05] thefluffysysop commented on #247
I do not believe so, it is a single chain with 1 root CA, and 1 subordinate/intermediate CA
Where could I double-check this?

[2020-06-18 15:46] dbarkelew commented on #247
Normally the easiest way to check is to ask the person who issued the certificate to you if the CA is cross signed or not. If you are using a public CA, this is more likely. If you are using a private CA, not as likely.

[2020-09-01 14:20] gsexton opened #275 "vSphere CPI Doesn't Work if Network Name Contains / Character"
**Overview**
If the vsphere network name contains a forward-slash character (/), deployment fails with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. On VCenter create a network name that has a / character
2. In the deployment descriptor specify a network name and escape it: 10.11.12%%2f25
3. Attempt to deploy a cluster.

**CPI Error Log**
[code]

**Expected behavior**
Allowed VCe

[2020-09-16 18:44] pivotal-todd-robbins opened #276 "vSphere CPI hung indefinitely on deploy"
**Describe the bug**

BOSH deploy is ran and director is stuck waiting indefinitely after a VM is created. The last CPI operation that we see executed is set_disk_metadata call. The VM that deploy was stuck on had no job packages created and deploy had been stuck creating this VM for 8+ hours.

**To Reproduce**

The problem is sporadic. The problem was not reproducible after restarting director (t

[2020-09-16 18:46] pivotal-todd-robbins commented on #276
[218907-cpi.txt](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/5234266/218907-cpi.txt)
[218907-debug.txt](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/5234269/218907-debug.txt)

Attached is bosh task <task ID> --debug and bosh task <task ID> --cpi output from the event.

[2020-09-17 16:41] mrosecrance commented on #276
Here's another instance although context on it has been lost by now:
https://cloudfoundry.slack.com/archives/C02HPPYQ2/p1573162453274000

[2020-09-17 16:52] ktchen14 commented on #276
I'm not sure that this is a CPI problem. Note that the hang occurs when BOSH tries to call `set_disk_metadata`, an operation that's a no-op for the vSphere CPI. Here's the preceding `info` call:

[code]

This is on the director PID 3336. PID 8646 is the `fork()`ed CPI process. Unrelated, but we should probably get rid of the `Login`/`Logout` for an `info` operation... Anyways, the normal terminati

[2020-09-17 17:00] mrosecrance commented on #276
The logs issue is tied to a point we raised in https://github.com/cloudfoundry/bosh/issues/2276. There won't be logs, since bosh will only save them when the cpi call returns. I don't know if you also log to a separate location or not. It is possible the forking failed but that seemed really unlikely to me.

[2020-09-17 17:09] ktchen14 commented on #276
@mrosecrance That's... high unfortunate. Without the logs I think we're just grasping at straws here. Here are our timeouts:

[code]

I don't think we can move further on debugging this from the CPI side until the director switches the `capture3` to a `popen3` and streams the logs.

[2020-09-17 18:38] mrosecrance commented on #276
Alright sounds like this is parked for now given a lack of visibility into what the underlying issue is. Talked it over briefly with ktchen in another thread. For people that run into this in the future, it would be helpful to see that the child cpi process is there with `ps auxf` and if it's killed, it should allow bosh to grab the logs from the cpi and fail the deploy.

[2020-09-17 22:15] pivotal-todd-robbins opened #277 "CPI leaves orphan VM's after delete encounters "Unable to write VMX file" error"
**Describe the bug**

Orphan VM's are intermittently getting left behind by CPI. This leads to duplicate IP which causes production impact

BOSH task CPI logs show:

[code]

The vm-823f41d1-71dc-4f5b-bdd0-6d634c7ef6ce however remains powered on in vCenter.

**To Reproduce**

We cannot consistently reproduce however it has happened a dozen times in one customer environment.

**CPI Error Log**

[cod

[2020-09-17 22:17] pivotal-todd-robbins commented on #277
[epr_261255_cpi.log](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/5242184/epr_261255_cpi.log)
[epr_261255_debug.log](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/files/5242187/epr_261255_debug.log)

Attached is the full bosh task CPI / debug logging from the event.

[2020-10-08 06:01] chenweienn opened #278 "Unknown CPI error ''Unknown'' with message ''undefined method `config_spec'' for nil:NilClass'' in ''create_stemcell'' CPI method"
**Describe the bug**
Customer created Windows stemcell 2019.23, 2019.25, 2019.26 following this doc: https://docs.pivotal.io/application-service-windows/2-9/create-vsphere-stemcell-automatically.html
The windows ISO version is 2019.25.17763
The vSphere version is 6.5.0.30000
They hit above error when upload to the same vSphere env with `bosh upload-stemcell` command.

**To Reproduce**
Steps to rep

[2020-10-09 03:41] watarumohawk commented on #278
Some updates on this issue:

- We have determined that the VM base image's hardware version (aka compatibility) was set to ESXi 6.5, not 6.0.
- We created a new stemcell with 6.0 compatibility, and the bosh director was able to successfully upload the stemcell.

[2020-10-28 08:16] jianh619 opened #279 "Could not find network for VM , while bosh creating env"
**Describe the bug**
Bosh create-env , the creating process failed and prompt error `Could not find network 'VIS243' for VM 'vm-94b1f3f2-b6de-4b62-a09e-3b6d98b9a269'`  , the network "VIS243" is the one we're using , see screenshot below

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a vCenter and got all the needed parameters
2. run bosh create-env

**CPI Error Log**
Can be obtained

[2020-11-12 22:36] svrc commented on #225
We had a customer situation recently where the lack of persistent disk storage policy may be causing some replication latency issues on the VM for high performance apps.   will take a look at contributing this before EOY

[2020-11-17 10:09] mayrstefan opened #280 "CPI doesn't use TCP Keepalive socket option which results in unnecessary long 4h timeouts"
**Describe the bug**
We have an environement with a firewall between director and vCenter. This firewall removes connections from its internal state table if they have been idle for 10 minutes. Packets that do not match a valid connection are dropped (not rejected) by the firewall.
We found that sometimes we have deployment issues that look like a hanging call to AquireGenericServiceTicket which t

[2020-11-17 17:40] ktchen14 commented on #276
Hmm I'm now thinking that this is the same issue as #280 .

[2020-11-19 20:34] mayrstefan commented on #276
@ktchen14 Initially I also thought our CPI is hanging indefinitly. But when we started collection information for Pivotal/VMware support I realized it times out after four hours like you pointed out in your previous comment. From my understanding this 4h timeout should also be present in CPI release 53.0.11. Because this ticket describes a waiting time much longer than the expected timeout I decid

[2020-11-23 09:43] yue-wen commented on #279
Meet same error.
Do you have any progress?

[2020-11-24 09:51] yue-wen commented on #279
I have found the reason of my situation.
User used in cli does not have access to the PortGroup.
Can be verfied by login at UI with that user.

[2020-11-30 01:11] jianh619 commented on #279
@yue-wen , glad to see you found the cause

Forget to update , I finally resolve it by adding the path to `network` name ,  IaaS-DC-A-NETWORKING/VIS243 , it should be a defect to vSphere , since it auto retrieves the network name and won't let me modify , so I have to export the yaml and modify it then import yaml file to workaround .

Close it , since it's not the problem of bosh

[2020-11-30 01:11] #279 closed

[2020-12-04 23:13] ktchen14 commented on #280
Fixed in v54.1.1.

[2020-12-04 23:13] #280 closed

[2020-12-04 23:13] ktchen14 commented on #276
This is likely in v54.1.1.

[2020-12-04 23:13] #276 closed

[2020-12-07 09:50] yue-wen opened #282 "VMS custom attributes are empty on vsphere 7"
**Describe the bug**
VMS custom attributes are empty on vsphere 7

**To Reproduce**
Steps to reproduce the behavior:
1. Create new vms with vsphere 7

**Expected behavior**
Should works as vpshere 6.x

**Screenshots**
![Screenshot from 2020-12-07 17-43-53](https://user-images.githubusercontent.com/10131648/101335298-f83d4b00-38b3-11eb-84b6-500653fc8f6c.png)
![Screenshot from 2020-12-07 17-43-34](h

[2020-12-11 03:45] yue-wen commented on #282
Issue not happend on another vsphere with version 7.
Looks our own issue.

[2020-12-11 03:45] #282 closed

[2021-02-04 05:57] aad opened #283 "how to configure port range (or all ports) when configuring the pool in nsx-v"
## Support Question

Recently we have a requirement to enable tcp router with port range, we are struggling to get this configured using vm extension.

When configure pool member in nsx-v gui, though port range is not supported, its allowed to configure `monitor_port` only and leave `port` unset/empty which effectively allow all ports.

The doc https://bosh.io/docs/vsphere-cpi/#resource-pools says

[2021-03-04 06:58] thelangley opened #284 "vSAN large scale environment HA alarms during stemcell changes"
**Summary of issue**
When Bosh is doing many parallel update tasks (usually diego-cells), at least one false HA event is triggered in the cluster. This only happens on vSAN based environments with a lot of VMs in the Bosh deployment. The only way to remove the error is disable HA, re-enable HA.

VMware engineering have acknowledged the feature.

**To Reproduce**
- Use vCenter 6.5 to 6.7 u3l, ESXi

[2021-03-04 15:19] miro-grapeup opened #285 "Support for NSX-T Policy API"
## Support Question
I would like to know what is the current state of Policy-API support? I can see there were two PRs in the past:
https://github.com/cloudfoundry/bosh-vsphere-cpi-release/pull/212
https://github.com/cloudfoundry/bosh-vsphere-cpi-release/pull/217
but they were closed. Is there any plan to support NSX-T policy api? Right now it seems to be not possible to use Bosh with such objects

[2021-03-09 15:54] miro-grapeup opened #288 "CPI fails to delete VM with use_policy_api"
**Describe the bug**
When use_policy_api is turned on and VM is going to be removed there is a problem with removal from all NSGroups. Below error is returned from NSX-T Policy API: `The URI is invalid`. Issue happen when there are some NSGroups with `[` or `]` in the name/path.

**To Reproduce**
Steps to reproduce the behavior:
1. Create LB service and some virtual server in NSX-T using Polic API

[2021-03-15 17:55] #288 closed

[2021-04-16 01:36] ydp opened #291 "Support add "bosh/id" tags for SegmentPort in Policy API mode"
## Feature Request

### Detailed Description

TKGI leverage the "bosh/id" tags in LogicalPort in MP API side to find the correct VM, we would like to have the same feature supported in Policy API mode.

{“scope”: “bosh/id”, “tag”: “xxxxxxx”}

This feature in MP API is here: https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/master/src/vsphere_cpi/lib/cloud/vsphere/nsxt_provider.rb#L200

[2021-04-26 05:22] arjunra22 opened #292 "ability to disable Antiaffinity and DRS rules on the vsphere CPI"
## Feature Request

### Detailed Description

We are trying to deploy CFCR using bosh director on Vmware  and while deploying the kubernetes part the Vsphere CPI errors out due to insufficient privledges by Vcenter user for creating DRS rules .

### Context

WE would like to disable Anti affinity & any DRS rules as we do not intend to use these on our TEst / Dev platform .

### Possible Implementa

[2021-04-26 05:25] arjunra22 commented on #292
Part of the CPI debug logs is below .

I, [2021-04-21T18:14:36.155658 #30393]  INFO -- [req_id cpi-809405]: Successfully uploaded file.
D, [2021-04-21T18:14:36.205278 #30393] DEBUG -- [req_id cpi-809405]: Running method 'ReconfigVM_Task'...
D, [2021-04-21T18:14:36.226035 #30393] DEBUG -- [req_id cpi-809405]: Starting task 'VirtualMachine.reconfigure'...
D, [2021-04-21T18:14:37.255020 #30393] DEBUG

[2021-04-26 06:35] ydp opened #293 "Unknown CPI error 'Unknown' with message 'Segment port with attachment id: not found' in 'set_vm_metadata' CPI method"
**Describe the bug**
When apply changes, CPI cannot find attachment id, I guess it's because Policy API is declarative, async call, which actually needs the caller to wait, see there are latest [commit](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/commit/b447a2cd95da8f0088d4b85dc8f1fca05c85aed9) that changed the max wait time to 300, but actually I think we need to wait for the segment

[2021-04-26 17:09] mariash commented on #293
@ydp Please see the latest release https://github.com/cloudfoundry/bosh-vsphere-cpi-release/releases/tag/v57 It should solve this issue.

[2021-04-26 17:09] mariash commented on #293
Please feel free to open an issue if it still fails.

[2021-04-26 17:09] #293 closed

[2021-04-26 17:09] mariash commented on #291
Please see the latest release https://github.com/cloudfoundry/bosh-vsphere-cpi-release/releases/tag/v57 It should have this feature.

[2021-04-26 17:09] #291 closed

[2021-05-17 21:20] shiveshabhishek opened #294 "Unknown CPI error ''Unknown'' with message ''The object[s] ''<[Vim.VirtualMachine] vm-11141>'' should have the following properties: [\"parent\"]\n, but they were missing these..."
**Describe the bug**
While bosh is trying to recreate the VMs during scan & fix, getting the following error message:
[code]

**CPI Error Log**
[code]
**Expected behavior**
Ideally, bosh should re-create the VM during scan and fix
**Screenshots**
![image](https://user-images.githubusercontent.com/29581152/118555824-c1cbfc00-b780-11eb-8af8-027330cc6b13.png)

**Release Version & Related Info (please

[2021-05-19 03:54] shiveshabhishek commented on #294
Some point to add:

We are using HA for API and DB for TKGI (2 API and 3 DB)

[2021-06-10 18:09] cunnie commented on #294
Hi @shiveshabhishek ! Thanks for reporting this; we believe it's fixed in BOSH vSphere CPI release v59. If it's not fixed, let us know by re-opening this issue. Closing.

[2021-06-10 18:09] #294 closed

[2021-06-10 18:51] moleske opened #296 "Does the intergration work"
## Support Question
Brian sure hopes so
---

You can also reach out to us via:

* Slack: http://cloudfoundry.slack.com/messages/bosh-cpi-dev

[2021-06-10 19:09] moleske commented on #292
Are you setting `enable_auto_anti_affinity_drs_rules`?  It defaults to false and prevents using DRS Rules as described in the [docs](https://bosh.io/docs/vsphere-cpi/#global)

If that is indeed set to false, what version of the CPI are you using?  We would also want to see your bosh director manifest and your deployment manifest.

[2021-06-10 19:14] cunnie commented on #285
Hi @miro-grapeup ,

Thanks for your insights and expertise—your contributions have made the CPI much better!

We believe that the Policy API is fully implemented at this point, so we're closing this ticket, but if there's anything we've overlooked, please don't hesitate to open a new ticket.

[2021-06-10 19:14] #285 closed

[2021-06-10 19:28] cunnie commented on #284
We're closing and re-opening this issue to generate a tracker story in our internal tracking system.

[2021-06-11 18:35] arjunra22 commented on #292
@moleske  Thanks for your reply , i was able to solve it but editing the cc-vm-types.yml  and removing the whole datacenter section or if you chose to keep it then you can use **disable_drs [Boolean, Optional]**: Disables DRS on this VM type. VM created with this vm_type will NOT be v-motioned by DRS.

However now i have run into another issue where i am not able to present the Vsphere Datastores

[2021-06-11 21:17] moleske commented on #292
Not sure about persistent volumes, but this sounds like you are using [CFCR](https://docs.cloudfoundry.org/cfcr/).  You might want to check their issues or slack.  This does not seem to be a CPI issue

[2021-06-28 00:21] shanmukhavsv commented on #294
with latest ops manager also i am facing same issue:

"error":"Unknown CPI error ''Unknown'' with message ''The object[s] ''<[Vim.VirtualMachine] vm-13093>'' should have the following properties: [\"parent\"]\n, but they were missing these: #<Set: {\"parent\"}>\n.'' in ''attach_disk'' CPI method (CPI request ID: ''cpi-155877'')"}}
{"time":1624838348,"error":{"code":100,"message":"Unknown CPI error

[2021-06-29 00:46] ydp opened #297 "set_vm_metadata error in greenfield OpsMgr 2.10.14 with use_nsx_policy enabled"
**Describe the bug**
on a greenfield OpsMgr 2.10.14 deploy in lab
* with use_nsx_policy enabled
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install OpsMgr 2.10.14 with use_nsx_policy enabled

**CPI Error Log**

**Expected behavior**
OpsMgr install successfully.

**Release Version & Related Info (please complete the following information):**
 - CPI Version  v60

**Additional contex

[2021-06-30 18:04] markstokan commented on #297
Work to address this issue is underway in Tracker Story: https://www.pivotaltracker.com/story/show/178649776

[2021-07-02 16:40] markstokan commented on #297
This fix is being released as [Bosh vSphere CPI v61](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/releases/tag/v61)

[2021-07-02 16:41] #297 closed

[2021-07-23 15:48] julian-hj commented on #292
Closing this, as it appears that the remaining unresolved issue is a k8s/CFCR issue, and it has been inactive for over a month. Please feel free to re-open if you have further CPI issues.

[2021-07-23 15:48] #292 closed

[2021-07-23 15:57] julian-hj commented on #87
We did a series of investigations of instant cloning VMs during bosh deployment
https://www.pivotaltracker.com/story/show/177255926
https://www.pivotaltracker.com/story/show/177255861
https://www.pivotaltracker.com/n/projects/2475776/stories/177045187

The upshot for TAS customers is that most of the time spent in redeployment is taken by the `drain` step, so overall we don't think cloning VMs wou

[2021-07-23 15:59] julian-hj commented on #110
This feature is fully implemented as of v63

[2021-07-23 15:59] #110 closed

[2021-07-29 20:36] julian-hj commented on #278
If I am reading this issue correctly, the outstanding problem is that the vSphere CPI doesn't bother to check for errors after importing a stemcell file, and as a result, the error message we produce is confusing and unhelpful.

Basically, we should be adding an error check between these 2 lines:

[code]

We know from the stack trace that `import_spec_result.import_spec` was nil. My guess is that

[2021-07-29 20:47] julian-hj commented on #277
@pivotal-todd-robbins is this issue still reproducible? If so, a couple of questions...

- is it possible that the VM in question was vMotioned or otherwise migrated?
- you mentioned that the VMX file was in a different path. Is it possible to find an example of that path?

[2021-07-29 21:09] julian-hj commented on #257
From what I can establish, this issue was fixed by the removal of ip_conflict_detector in v54 of the CPI. Please feel free to re-open as necessary.

[2021-07-29 21:09] #257 closed

[2021-07-29 21:16] julian-hj commented on #256
This issue appears to be fixed by [this commit](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/commit/55acb239dd51efa1e54c595abe236c3e96274e5b) which is included in v54 of the vSphere CPI

[2021-07-29 21:16] #256 closed

[2021-07-29 21:26] vmware-todd-robbins commented on #277
I've not heard of this happening since this first report so I cannot currently reproduce. I've checked thread from when this originally occurred and there was some rumblings that it could be fixed with vCenter 7.0. So if we want to just close out this issue then that's fine.

[2021-07-29 21:27] julian-hj commented on #255
This looks like it might be a prerequisite to https://github.com/pivotal-cf/ops-manager/issues/411 and we already have most of an implementation. I will close and re-open it to get a story into the anycloud tracker backlog.

[2021-07-29 21:27] julian-hj commented on #255
Reopening

[2021-07-29 21:28] julian-hj commented on #277
Very good, thanks, and apologies for the delayed response!

[2021-07-29 21:28] #277 closed

[2021-07-29 21:38] julian-hj commented on #253
Closing, then re-opening to create an issue in our tracker backlog. We might also just consider extending the existing timeout.

[2021-07-29 21:52] julian-hj commented on #247
@thefluffysysop is this issue still reproducible? From what I can see in the screenshotted logs, it appears to me that there were two separate errors connecting to vSphere and NSX-T manager.

Is it possible that the bosh director lost connectivity? The vSphere failure is reporting `SSLRead: shutdown while in init`.

[2021-07-29 21:58] julian-hj commented on #232
This appears to have been fixed by PR #233 and should be in v53.0.2 of the CPI

[2021-07-29 21:58] #232 closed

[2021-07-29 22:20] julian-hj commented on #225
Closing and re-opening to create a tracker story.

[2021-07-29 22:33] julian-hj commented on #223
closing and re-opening to create a tracker story.

[2021-07-29 23:39] julian-hj commented on #215
Closing this, as there is no activity and an apparent workaround. Feel free to re-open.

[2021-07-29 23:39] #215 closed

[2021-07-29 23:45] julian-hj commented on #213
This appears to have been fixed with [this commit](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/commit/802cc65257e4236ca442a5de64a9e19a816ec91b)

[2021-07-29 23:45] #213 closed

[2021-07-29 23:49] julian-hj commented on #210
closing and re-opening to create a tracker story

[2021-07-29 23:52] julian-hj commented on #183
closing and reopening to create a tracker story

[2021-07-29 23:58] #119 closed

[2021-07-30 00:00] julian-hj commented on #107
closing and reopening to create a tracker story

[2021-07-30 00:19] julian-hj commented on #85
Looking at the story, it appears that this was resolved back in 2018 with a suggestion to use yaml anchors to DRY out the cloud_properties rather than changing the implementation:

The following is possible in the current product:
[code]

[2021-07-30 00:19] #85 closed

[2021-08-09 09:42] pgasior opened #300 "How to set SCSI controller type?"
## Support Question
Is it possible to change SCSI controller type? All VMs are created with `LSI Logic Parallel` and I want to change it to `VMware Paravirtual`. I checked CPI code and found https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/20806af442d5c7be9716866851571f8ce291e241/src/vsphere_cpi/lib/cloud/vsphere/vm_creator.rb#L70 and
https://github.com/cloudfoundry/bosh-vsphere-cpi-r

[2021-08-10 05:33] thelangley commented on #284
Still an issue, bug unfixed by VMware. workaround still required

[2021-08-10 22:27] markstokan commented on #255
Closing.

The BOSH vSphere CPI code has always handled the absence of a port parameter gracefully.  We have added [tests](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/commit/0ce6fc6abc7a3dc0e9237efc58550d4fc5a917ce) using the manager and policy api to draw attention to this.

An [issue](https://github.com/pivotal-cf/ops-manager/issues/411) is open with the Ops Manager team to make the

[2021-08-10 22:27] #255 closed

[2021-08-12 16:32] julian-hj commented on #278
We added new/better error handling for invalid OVF files in [this commit](https://www.pivotaltracker.com/n/projects/2475776#:~:text=bosh-vsphere-cpi-release%20/%201c5d7c4) which was the outstanding problem for this issue, so I will go ahead and close it.

[2021-08-12 16:32] #278 closed

[2021-08-17 00:01] julian-hj commented on #284
@thelangley Can you have a look at PR #301 and let us know if it looks like it will fix this issue, as far as you understand it?

We are hoping to avoid both:
- Adding a "sleep" on every VM deletion and
- Adding new configuration that needs to be configurable through commercial distributions

So, we took the approach of only adding a delay when the deleted VM is using a vSAN datastore, and HA is e

[2021-08-17 04:38] thelangley commented on #284
This looks wonderful and meets all of our wants.

I haven't tested your commits but they look very reasonable. I'll try to build a release from your commit and put it into our lab today.

[2021-08-17 07:01] thelangley commented on #284
It looks like it works as described. I've recreated an entire deployment and the error hasn't recurred.

Happy for these changes to be merged, a release to be cut and my issue closed.

Thanks again @julian-hj

[2021-08-17 16:23] julian-hj commented on #284
Awesome. Thanks @thelangley for the fast turnaround. We'll get this merged shortly.

[2021-08-18 05:31] #283 closed

[2021-08-18 05:31] #275 closed

[2021-08-18 05:31] #229 closed

[2021-08-18 05:31] #220 closed

[2021-08-18 16:55] #284 closed

[2021-08-19 05:31] #80 closed

[2021-08-19 05:31] #150 closed

[2021-08-19 05:31] #79 closed

[2021-08-19 21:28] cunnie commented on #300
Hi @pgasior ,

Other than changing it through the vCenter GUI, **no**.

Although BOSH-deployed are cloned from the stemcell, we found that the controller appears to be overwritten later in a subsequent step: We modified a stemcell to use the Paravirtual driver, and used the modified stemcell to deploy a VM, and the deployed VM, surprisingly, had the "LSI Logic Parallel" driver, not the Paravirtual

[2021-08-20 05:30] #60 closed

[2021-08-20 05:30] #76 closed

[2021-08-20 19:03] julian-hj commented on #284
This is fixed in [v66](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/releases/tag/v66)

[2021-08-23 16:51] cunnie commented on #300
@pgasior

I want to give a more in-depth answer to your question, "is it possible to change this [SCSI controller driver] on deployment basis?"

A roundabout way of doing this is modifying a stemcell, say ubuntu-bionic v1.14, and using that stemcell exclusively for the deployment which you'd like to use with the Paravirtual driver.

- type `bosh ss` to find your stemcell's CID (e.g. `sc-fad26eb2-2

[2021-08-23 16:53] #300 closed

[2021-08-23 23:57] fuxiaoting opened #302 "[tkgi] unable to create bosh vm:CPI 'set_vm_metadata' method responded with error: CmdError{"type":"Unknown","message":"Invalid Query","ok_to_retry":false}"
**Describe the bug**
Follow this guide to test "enabled nsx-t policy with No-NAT with Virtual Switch (VSS/VDS) Topology"
Deploy vc 702 with nsxt policy api 3.1.3, then deploy epmc 1.12 FC build on it.
During deploy pks cluster, bosh deployment failed.

**To Reproduce**
Steps to reproduce the behavior:
Prerequisites:
1. add vcenter as compute manger on the nsx manger UI
2. create a distribute switc

[2021-08-24 00:00] fuxiaoting commented on #302
<img width="1417" alt="Screen Shot 2021-08-24 at 7 45 00 AM" src="https://user-images.githubusercontent.com/1469050/130534368-c86f3b12-1e18-432c-aad7-c7fc8a18b710.png">
<img width="1407" alt="Screen Shot 2021-08-24 at 7 44 45 AM" src="https://user-images.githubusercontent.com/1469050/130534371-a53bed3c-6706-4b93-9f58-821e394c22ac.png">

Environment information:
proxy: kubo/Ponies!23 10.191.166.95

[2021-08-24 00:01] fuxiaoting commented on #302
#dap-vcf-vmc-anycloud

[2021-08-24 15:38] fuxiaoting commented on #302
new environment:proxy：10.92.1.120 vc:192.168.111.61 nsxt:192.168.111.12 epmc:192.168.111.200

[2021-08-25 02:09] ydp commented on #302
Hi team, I had a initial investigation, added some code like below:

[code]
Got some debug logs:

[code]
It could be seen that the attachment_id is nil https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/d565cdfdc1834ec5f692abea8ac131d92d0fb8b7/src/vsphere_cpi/lib/cloud/vsphere/nsxt_policy_provider.rb#L142

And the code in `set_vm_meta` goes to `update_vm_metadata_on_segment_ports`, but

[2021-08-25 16:42] julian-hj commented on #302
Looking into the code, it does appear that this use case is supported by the manager API code, but broken in the policy API code. When the manager API code finds a port with VDS backing, it does [additional checking to make sure it is managed by NSXT](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/d565cdfdc1834ec5f692abea8ac131d92d0fb8b7/src/vsphere_cpi/lib/cloud/vsphere/nsxt_provid

[2021-09-01 17:54] julian-hj commented on #210
https://github.com/cloudfoundry/docs-bosh/pull/749 fixes the docs for this issue.

[2021-09-07 21:42] julian-hj commented on #210
PR is merged, so closing this as fixed.

[2021-09-07 21:42] #210 closed

[2021-09-07 21:43] julian-hj commented on #183
Closing as fixed.

[2021-09-08 19:58] julian-hj commented on #120
This is fixed in [v68](https://github.com/cloudfoundry/bosh-vsphere-cpi-release/releases/tag/v68)

[2021-09-08 19:58] #120 closed

[2021-09-10 21:44] julian-hj commented on #223
After looking at the attached `tasks.txt` it appears to me that there are two different issues here:

1. vSphere didn't catch the anti-affinity rule in time and allowed one extra VM to be created.
2. The errand VM is getting deployed into the same anti-affinity AZ as the other VMs, and failing to power on.

The second issue could be easily addressed by creating a different AZ for the errands, and

[2021-09-10 21:44] #223 closed

[2021-09-10 22:17] julian-hj commented on #247
Closing this, but feel free to re-open if it is reproduced.

[2021-09-10 22:17] #247 closed

[2021-09-22 08:11] miro-grapeup commented on #300
@cunnie thanks for those detailed steps.
One question though - do you expect that switch to PV driver or making it configurable in a near future?

[2021-09-22 17:23] cunnie commented on #300
@miro-grapeup:

We don't know. In the short term, no. In the long term, maybe. Our team is re-structuring, so maybe when that's done we'll look at it again.

The problem is that for typical use, the benefits of using the PV driver aren't compelling enough to make a change (I was curious, so I ran some benchmarks and wrote a blog post on the results: https://blog.nono.io/post/pvscsi/ ).

[2021-09-23 15:23] miclip opened #304 "CPI removing all VMs from pools that share an IP with a bosh managed VM"
**Describe the bug**
Any VM that shares the same private IP as a bosh managed VM and is also a member of a server pool will removed from the pool by the CPI. The CPI is iterating over all pools and not limited to just pools provided in the configuration when recreating or deleting an instance.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. T1s using the same subnets behind different

[2021-09-30 05:31] #87 closed

[2021-10-04 21:20] amhuber opened #306 "persistent_datastore_pattern still required when using persistent_datastore_cluster_pattern"
**Describe the bug**
When attempting to set both `datastore_cluster_pattern` and `persistent_datastore_cluster_pattern` (and leaving `datastore_pattern` and `persistent_datastore_pattern` undefined per the docs), I'm getting an error when attaching the persistent disk in `bosh create-env`.  This appears to be because the `find_disk` function is still hard-coded to use the `persistent_datastore_pat

[2021-10-05 00:18] julian-hj commented on #306
Thanks @amhuber this definitely looks like a bug that should be addressed. While you are waiting for us to correct it, I think as a workaround you can just put an unmatchable regex into the `persistent_datastore_pattern` (e.g. "^$") and it should start working for you. Provided that the value isn't nil, the code should carry on and find your datastore in one of the accessible clusters.

[2021-10-05 00:27] amhuber commented on #306
Yep, I mentioned in the issue that it works with any valid pattern.  I'm using `.*` right now, and using `^$` would be equivalent (searching all datastores), it would just do it in the "other" code block.

[2021-10-06 05:31] #253 closed

[2021-10-06 05:31] #225 closed

[2021-10-11 17:44] amhuber commented on #306
Yeah, agreed this isn't urgent.  To be honest, if you just update the docs to indicate you need to use ".*" for the persistent_datastore_pattern when using the cluster options you could just leave it at that.

[2021-10-11 19:37] amhuber commented on #306
I looked at all the places where those values were used and the cluster settings would take precedence if they were configured, other than the code mentioned in this issue that was specifically for finding a detached persistent disk.  In that code, if the configured regex doesn't match (for example by using `^$`), then it will fall back to searching all datastores anyway.  Given that, I couldn't f

[2021-10-12 17:04] amhuber commented on #306
Ah, thanks, I missed that `OR` in the logic, that will definitely cause an issue.  I'll use `^$` until this is fixed.

[2021-10-14 03:48] humanux opened #307 "Failed to create PKS cluster with CPI error Logical port for xxx with 'external_id' *** was expected in NSX-T but was not found' in 'set_vm_metadata' CPI method (CPI request ID: 'cpi-868324')"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PKS cluster do some testing, then delete it
2. Recreate the PKS cluster with same name as just deleted one

**CPI Error Log**
ubuntu@opsmanager-2-10:~$ bosh task --cpi 2411
Using environment '192.168.100.9' as client 'ops_manager'

Task 2411

I, [2021-10-14T00:33:

[2021-11-07 14:33] matteowiz opened #308 "Agent unresponsive after bosh redeploy"
Hello,

using ops manager2.10.19, TAS for VMs 2.11 and TAS for VMs (windows) 2.10 over vsphere clusters. (vcenter6.7, esx6.5, NSX-v 6.4.6) I noticed that after every BOSH director redeploy, it always find all the VMs agents unresponsive except the windows diego cells. Is it a normal behaviour? it then takes hours to recreate all the vms.

Another question I have, I noticed the create_vm task is ta

[2021-11-08 08:56] bgandon commented on #308
Hi @matteowiz,

This is definitely not a normal behaviour. What you need to understand, is why the Agents suddenly don't manage to properly communicate with the Director. A networking issue is definitely a relevant assumption that you can make and then need to validate.

Here, you are posting on an Open Source project for a Bosh CPI which has nothing to do with the inability of your Bosh Agents to

[2021-11-08 08:56] #308 closed

[2021-11-11 19:41] julian-hj opened #309 "Please delete me"
## Feature Request

### Detailed Description
This is a test of the tracker integration

### Context

### Possible Implementation

### Complexity

- [X] Low - Simple enhancement or bug fix, no architectural changes or refactoring
- [ ] Medium - Change requires some thought, but is relatively isolated
- [ ] High - Significant architectural change or large refactor

[2021-11-11 19:46] #309 closed

[2021-11-11 19:53] julian-hj opened #310 "another test issue"
## Support Question

---

You can also reach out to us via:

* Slack: http://cloudfoundry.slack.com/messages/bosh-cpi-dev

[2021-11-11 19:57] #310 closed

[2021-11-11 19:58] julian-hj opened #311 "Yet another test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two instances in one AZ and disk .....
2. Sections of cloud config relevant to bug reproducibility

**CPI Error Log**
Can be obtained by running `bosh <env params> task <failed-task-id> --cpi`

**Expected behavior**
A clear and concise description of what you expect

[2021-11-11 21:41] #311 closed

[2021-11-11 21:41] julian-hj opened #312 "testing again"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two instances in one AZ and disk .....
2. Sections of cloud config relevant to bug reproducibility

**CPI Error Log**
Can be obtained by running `bosh <env params> task <failed-task-id> --cpi`

**Expected behavior**
A clear and concise description of what you expect

[2021-11-11 22:22] #312 closed

[2021-11-11 22:23] julian-hj commented on #306
closing and reopening to make a new tracker story

[2021-11-11 22:25] julian-hj commented on #304
closing and reopening to create a story

[2021-11-11 22:58] julian-hj commented on #307
@humanux A couple of questions about this issue:
1) is this consistently reproducible, or something that only happened once?
2) is your system using the NSX-T policy API?
3) what specific version of the vSphere CPI is this?

[2021-11-15 18:39] rkoster commented on #304
@miclip thanks for reporting this issue, the story has been put in our backlog under low priority, which means it could take a while until we get to it. A faster way to get this fix would be to create a Pull Request to fix it (PR reviews have a higher priority).

[2021-11-15 23:22] #306 closed

[2021-11-21 11:52] viju2008 opened #313 "BOSH Vsphere CPI APIs to automatically add diego cell or BOSH VM on which garden containers can be deployed on ."
## Feature Request

### Detailed Description

BOSH API/Commands to add diego cell or Create VM (using Vsphere CPI) on which containers can be deployed on.

Currently a new diego cell has to be provisioned manually on Vsphere environment

### Context
. We wish to automate it using scripts so that based on load a new diego cell can be provisioned automatically on the Vsphere environment on the same

[2021-11-22 09:58] ogrand opened #314 "Failed to create multi-cluster configuration based on cloud-config azs"
**Expected behavior**

We want to set vsphere multi-cluster configuration to allow bosh deployments instances creation based on cloud-config azs definitions.

[code]

`instance-2` (defined on `z2 az`) has to be created on `CLS-02` cluster with persistent disks on `DS-02` datastore.

But when deploying bosh `instance-2`, cpi doesn't use cloud-config azs configuration and creates instance on `CLS-01

[2021-11-23 10:49] beyhan commented on #313
We discussed this topic in cloudfoundry/bosh-deployment#426.

[2021-11-23 10:49] #313 closed

[2021-11-25 20:22] rkoster commented on #314
To use different cpi configurations per az use: https://bosh.io/docs/cpi-config/. The `datacenters` property falls under [global config](https://bosh.io/docs/vsphere-cpi/#global) and can not be set via `cloud_properties`, which is why it needs to be set via a cpi-config instead.

[2021-12-03 13:51] JCL38-ORANGE opened #315 "create_vm fails with postgres SQL error with CPI v72"
**Describe the bug**
create_vm fails with postgres SQL error with CPI v72

**To Reproduce**
cloud_config extract :
[code]

**CPI Error Log**
[code]

**Expected behavior**
success for create_vm

**Release Version & Related Info (please complete the following information):**
 - CPI : 72
 - BOSH Director : 271.8.0
 - Stemcell : Bionic 1.34
 - vCenter : 6.7

**Additional context**
Bump CPI from v66 to

[2021-12-03 18:04] ogrand commented on #314
Using multi-cpi configuration let us managing instances creation on azs split on different vsphere cluster.
Thanks a lot Ruben.

[2021-12-03 18:21] #314 closed

[2021-12-07 18:42] rkoster commented on #315
@JCL38-ORANGE Just to double-check, the snippet to reproduce this issue is:
[code]
Just want to make sure that the snippet used was actually valid yaml (the snippet you posted is not, but this could just be a markdown issue).

[2021-12-09 23:02] #307 closed

[2021-12-16 16:20] miclip commented on #304
Note that this issue could also impact TKGs or any other product on vsphere using NSX-T load balancing, it's not isolated just to 2 tas deployments sharing the nsx infra.

[2021-12-23 03:20] scottgai commented on #304
Yes, one customer just encountered this issue. There are 2 TAS deployments sharing same NSX-T env. One TAS (e.g. TAS1) configured several static IPs for router instances and put them as backend of one server pool. And one temp instance was deployed by BOSH in the other TAS env (e.g. TAS2) to run some errand and the temp instance was assigned same IP (for example, 10.10.10.1) as one of router stati

[2022-01-03 07:53] JCL38-ORANGE commented on #315
Hello,

Sorry for my very late answer.
Yes I confirm your snippet.
Thanks and regards,
Jean-Christophe.

[2022-02-02 14:43] rkoster commented on #304
This issue is still being worked on. It is just difficult to keep track of this information. The current direction being explored is using the server pool member `display_name` property to store the parent pool names.

[2022-02-14 16:09] miclip commented on #304
thanks for the update @rkoster

[2022-03-03 17:09] #315 closed

[2022-03-04 11:15] JCL38-ORANGE opened #317 "create_vm fails with postgres SQL error with CPI v72"
**Describe the bug**
create_vm fails with postgres SQL error with CPI v72

**To Reproduce**
cloud_config extract :
[code]

**CPI Error Log**
[code]

**Expected behavior**
success for create_vm

**Release Version & Related Info (please complete the following information):**
 - CPI : 72
 - BOSH Director : 271.8.0
 - Stemcell : Bionic 1.34
 - vCenter : 6.7

**Additional context**
Bump CPI from v66 to

[2022-03-14 17:07] #304 closed

[2022-03-15 08:22] JCL38-ORANGE commented on #317
Hello,

Sorry for my late answer.
postgres-10 is used.
Regards,
Jean-Christophe.

[2022-03-26 20:59] ragaskar commented on #317
Hi @JCL38-ORANGE -- just wanted to check in and see if moving to postgres-13 resolved your problem. thanks!

[2022-03-28 06:58] JCL38-ORANGE commented on #317
Hello,

I am going to test it this week. I keep you informed.
Regards,
Jean-Christophe.

[2022-03-29 09:25] JCL38-ORANGE commented on #317
Hello,

With Postgres-13 is still failing.
Some new informations on that. It seems related to a multi-cpi context with both vsphere and openstack stemcells.
The method create_missing_vm inserts a record in the vms table and more precisely in the column cid.

When the insertion is a success (CPI v66), the cid column contains a String with the "vm-guid" and POSTGRES doesn't complain about that.
For

[2022-04-04 10:02] JCL38-ORANGE commented on #317
Hello,

In fact, we have on our side a flag which causes the error.
[code]

It is now ok with the flag removal.

Thanks and regards,
Jean-Christophe.

[2022-04-05 09:54] ramonskie opened #318 "bump to ruby 3.1.x for upcoming jammy release"
the new jammy based stemcells are using openssl 3 by default.
ruby >= 3.1.0 has openssl 3 support,

i also noticed that the https://github.com/vmware/vsphere-automation-sdk-ruby
we rely on is now deprecated.